[2013-11-30 23:20] mcepl opened #2 "Allow PEP8 import re-organization"
PEP8 should be followed when re-organizing imports, meaning that if there are lots of imports, they shouldn't exceed the 80 character limit.

Also, there should be a configuration option that allows a one-import per line.

[2013-11-30 23:20] mcepl opened #3 "ImportedModule always assumes paths to be relative to current resource"
I'm using rope inside SublimeRope and have a project that consists of several namespaces, all available on python path. While rope properly indexes those, it cannot resolve ImportedModule nodes pointing from one package to another as with a non-zero level only a relative import will be attempted.

I have changed the local implementation to instead try relative first and fall back to absolute if ne

[2013-11-30 23:20] mcepl opened #4 "distutils is not part of Python's standard library."
Changeset [[https://bitbucket.org/agr/rope/changeset/b4e28f313b17|b4e28f313b17]] assumes distutils is installed, and that's not always the case, as distutils is not part of Python's standard library.

The change was for OS X specific workaround, but it should be enabled only for that platform (where distutils seems to be installed by default).

The older code was not ideal either, because it repor

[2013-11-30 23:20] mcepl opened #5 "ImportError: could not import name UserDict"
I was working with ropemacs and I got  a traceback to the file /usr/lib/python2.7/site-packages/rope/base/oi/objectdb.py complaining that it couldn't import UserDict.

That file starts with "from collections import UserDict, MutableMapping". "from collections import UserDict" raises an exception on my machine (Fedora 16, python 2.7.2) so I changed the first lines of that file to:

from collections

[2013-11-30 23:20] mcepl opened #6 ""TypeError: must be str, not unicode" from Mercurial while renaming package"
I tried to rename a Python package, and got the following crash from the Mercurial library: presumably from a path being passed as `unicode` somewhere, instead of `str`.

I'm not certain whether this is a Rope issue, or a Mercurial library issue: if it turns out to be the latter, i'll take the issue upstream.

Versions:
- Python 2.7.4
- Vim 7.3 (patches 1-547)
- python-mode 0.6.18
- ropemode 0.2
-

[2013-11-30 23:20] mcepl opened #7 "Python error while aborting the open project prompt"
Misreported by an anonymous party in the tracker for Bitbucket itself:
http://bitbucket.org/jespern/bitbucket/issue/571/python-error-while-aborting-the-open-project

[2013-11-30 23:20] mcepl opened #8 "Reorganize imports doesn't understand __all__ semantics"
Say your project only has 1 test.py file that looks like this:

[code]

After reorganizing imports the from ... import ... line is gone. It should stay.

[2013-11-30 23:20] mcepl opened #9 ""source_folders" preference is broken"
The code that reads the "source_folders" preference expects a list of Folder objects, rather than the path strings the example suggests.

[2013-11-30 23:20] #9 closed, assigned to nobody

[2013-11-30 23:20] mcepl opened #10 "JobSet.finished_job incriments self.done too late"
While no one was looking, Lex Luthor took JobSet's ability to be 100% done in the eyes of observing functions. He took JobSet's ability to be one hundred percent done in the eyes of observing functions. That's as many as ten ten percents. And that's terrible.

Read: Because self.done is incremented after `self.handle._inform_observers()` an observing function will never see `JobSet.get_percent_don

[2013-11-30 23:20] #10 closed, assigned to nobody

[2013-11-30 23:20] mcepl opened #11 "BuiltinUnknown does not have a get_returned_object method, but it's called"
(The file as added in commit 1567:  6d2d20208eeb)

Here's a partial stack trace of the call tree, as provided when ropemacs tries to create a completion proposition:

[code]

https://gist.github.com/7761139
https://gist.github.com/7761140

[2013-11-30 23:20] #11 closed, assigned to nobody

[2013-11-30 23:20] mcepl opened #12 "AbstractFunction not defined"
Using the current version:

[code]

[2013-11-30 23:20] mcepl opened #13 "Wrong exit status of ropetest/__init__.py"
Exit status of ropetest/**init**.py should be non-zero when there have been any test failures.

https://gist.github.com/7761141

[2013-11-30 23:20] #13 closed, assigned to nobody

[2013-11-30 23:20] mcepl opened #14 "test_new_style_relative_imports fails with Python 2.7"
test_new_style_relative_imports fails with Python 2.7 (and passes with Python 2.6).

https://gist.github.com/7761144

[2013-11-30 23:20] #14 closed, assigned to nobody

[2013-11-30 23:20] mcepl opened #15 "inline refactoring reorders import statements"
in one of my projects we use some custom import statement ordering,
the inline refactoring just reordering those it doesn't need to touch seems invasive

[2013-11-30 23:20] mcepl opened #16 "inline refactoring leaves unused imports of removed items around"
i just noticed that the inline refactoring doesnt touch unused imports, even if the function/constant they import got inlined

[2013-11-30 23:20] mcepl opened #17 "Rope 0.9.3 barfs on set-expressions"
When using Python 2.7.1, and trying to rename a method, a ModuleSyntaxError is thrown.

[code]

When going to look at line 272 in test_users.py, it is a simple test case that's using set-expressions. I am documenting this here but I will most likely get around to either submitting a fix.

[code]

[2013-11-30 23:20] mcepl opened #18 "[TEST] rename renames keyword args in function calls"
hello,

I've written a test for rope that fails when a keyword argument to a function is the same as the name of the variable to be renamed, like this:

[code]

when a is renamed to new_a, the result will look like this:

[code]

This is the test case:

[code]

Thank you for this most excellent tool :)
- Timo

[2013-11-30 23:20] mcepl opened #19 "ropemode is unusable with unicode"
source files are with encoding: utf8

most docstrings contains utf and specified like u"""юникод"""

emacs command rope-move-current-module -- review fails:
{{{
  File "/usr/lib/python2.7/dist-packages/ropemode/refactor.py", line 48, in show
    diffs = str(changes.get_description())
UnicodeEncodeError: 'ascii' codec can't encode characters in position 1669-1682: ordinal not in range(128)
}}}

[2013-11-30 23:20] mcepl opened #20 "crashes with "AttributeError: __abstractmethods__""
Running the attached script will reproduce the crash shown below. I'm using python 2.7.2 and rope tip (revision f5eb880e0be2).

[code]

https://gist.github.com/7761145
https://gist.github.com/7761146

[2013-11-30 23:20] #20 closed, assigned to nobody

[2013-11-30 23:20] mcepl opened #21 "OrganizeImports removes entire lines"
This is what Rope (using the Vim plugin) does when applying the RopeOrganizeImports command:

[code]

If you look at the changes, you can see that "`from django.contrib.auth.models import User`" as well as "`from apps.users import signals`" were completely removed instead of moved.
- The signals import was removed because it wasn't used. I don't want it to be removed though, as the import has inte

[2013-11-30 23:20] mcepl opened #22 "rope for modules in non-standard environments"
Hi,

This is not a bug report but a question. (The bug is that rope-dev@googlegroups.com pointed to by http://rope.sourceforge.net/ does not seem to exist)

I would like to use rope in an IDE for code completion and call tips. However, my python code will be compiled within an environment that has some standard symbols predefined (i.e. without using the import statement in the module). Is there a

[2013-11-30 23:20] mcepl opened #23 "MismatchedTokenError when using "except ... as" syntax."
When trying to refactor in a file containing an except clause using the 'except ... as' syntax, Rope throws a MismatchedTokenError while parsing.

In the code sample below, attempting to extract line 3 (foo = [...]) as a method produces the given traceback.

Code sample:
[code]

Environment:
*  Windows 7 32-bit
*  Python 2.7.2
*  EMACS 23.2
*  Rope 0.9.3
*  Pymacs 0.24b2 (g016b0bc)
*  ropemacs 0.6

[2013-11-30 23:20] mcepl opened #24 "goto definition misses package with common namespace in a different egg"
In the attached example, we have two packages, in two different eggs, sharing a common namespace:
- base.one (in egg //one//)
- base.two (in egg //two//)

We configured  the ropeproject to include both their directories in the python_path by adding to src/.ropeproject/config.py:

[code]

Then, in the module //sample.py//, that imports both //one// and //two//, we try the operation "go to definitio

[2013-11-30 23:20] mcepl opened #25 "Add traad to the list of Rope-based refactoring tools."
I'd like to add a link to the traad project from the rope home page. Traad is here:

  https://github.com/abingham/traad

It's a client-server API on top of traad, bundled with emacs lisp client code (with hopefully more coming in the future.)

[2013-11-30 23:20] mcepl opened #26 "codeassist.code_assist will find spurious members of the os module"
For a random module

[code]

These are not actually defined in os.*. They are conditionally imported and deleted depending on which platform Python is run on. Rope finds them even though they are not exported from the os module.

I would not have expected to get completion proposals for symbols not actually defined.

(This is a minor concern, I am not sure how much effort it would be to fix.)

[2013-11-30 23:20] mcepl opened #27 "source_folders config does not work with symlinks"
Since making rope-auto-import work with stuff outside of the project folder has been impossible for me so far, I've tried instead using the source_folders config to add more stuff to the project.

I tried to do this using symlinks (because folders cannot be hardlinked and I don't want to copy them), but this didn't work.

It turns out that symlinks are simply ignored by rope. If I copy the code to

[2013-11-30 23:20] mcepl opened #28 "RopeOmni: Non-ascii characters in docstrings trigger unicode error"
If there are non-ascii chars in a docstring you'll get a unicode error. jedi-vim seems to know how manipulate the unicode repr:
https://github.com/davidhalter/jedi-vim/blob/master/plugin/jedi_vim.py#L16

(I'm using rope in the context of vim python mode and it appears to be up to date
https://github.com/klen/python-mode)

[2013-11-30 23:29] #4 closed, assigned to nobody

[2013-11-30 23:47] mcepl opened #29 "Import to python-rope also other rope-related repos from BB"
We have on the Bitbucket also:
- [x] https://bitbucket.org/agr/ropemode
- [x] https://bitbucket.org/agr/ropevim
- [x] https://bitbucket.org/agr/ropeide
- [x] https://bitbucket.org/agr/ropemacs

[2013-11-30 23:48] mcepl opened #30 "All pull request on the BitBucket should be handled"
Download them here as a branch and present them to the group.

[2013-11-30 23:52] mcepl opened #31 "Fix SourceForge page's URLs"
They should point to the right places (mostly here on GitHub).

[2013-12-01 20:06] #31 closed, assigned to nobody

[2013-12-01 20:52] #30 closed, assigned to mcepl

[2013-12-01 23:11] #29 closed, assigned to mcepl

[2013-12-01 23:31] #25 closed, assigned to nobody

[2013-12-01 23:34] #19 closed, assigned to nobody

[2013-12-02 17:45] mcepl opened #35 "check that all issues have also their attachments attached"

[2013-12-02 17:50] #5 closed, assigned to nobody

[2013-12-02 17:53] #22 closed, assigned to nobody

[2013-12-02 23:54] #35 closed, assigned to mcepl

[2013-12-04 23:24] mcepl opened #37 "Breaks on python 2.4"
Not sure if we care:

[code]

[2013-12-04 23:27] mcepl opened #38 "test ropetest.refactor.importutilstest.ImportUtilsTest.test_sorting_imports_and_standard_modules2 fails"
Run

[code]

The test fails (with additional debugging logs):

[code]

It really looks to me like if the problem was with tests and the expected string.

[2013-12-05 06:07] #38 closed, assigned to nobody

[2013-12-10 12:46] mcepl opened #40 "undefined name 'ModuleSkipHandle'"
In `move.py` we have:

[code]

[2013-12-10 17:51] mcepl opened #41 "remove testutil.assert_raises"
While working on PEP8ization of the code, I repeatedly hit `testutil.assert_raises` decorator. What is its purpose?

Unit tests should be clear and simple, easy to understand. I would remove `testutil.assert_raises` and just use plain `self.assertRaises` instead.

[2013-12-10 20:33] #40 closed, assigned to nobody

[2013-12-11 01:33] mcepl opened #43 "non-testing tests"
We have many many tests like:

[code]

They actually don't test anything, only that the run code won’t crash, but even if it doesn’t generate any (or faulty) results, it would pass.

[2013-12-22 00:12] mcepl opened #44 "profile auto-completion"
By @JulianEberius
The main changes I made to Rope concern auto-completion. It is very, very slow on large code bases (just try Rope’s completions on Rope’s code itself).  I used Python’s profile module to track where the time is spent on a single completion request, and it was mainly file system related stuff that is called a lot of times for a single request. I added a lot of caching to my branch

[2014-01-15 15:07] mcepl opened #46 "PEP8ization of the code"
Not much to be added.

[2014-03-01 14:12] pchampin opened #49 "Rope does not comply with the MRO"
When looking for the definition of a method invoked with `super`,
Rope seem to perform a depth-first search in the inheritance graph of the class,
while Python actually does a breadth-first search (the so called MRO).

The code below demonstrate the problem:

[code]

[2014-05-22 03:18] #41 closed, assigned to mcepl

[2014-05-22 05:26] #46 closed, assigned to mcepl

[2014-05-22 18:36] georgevreilly opened #56 "0.10.1 doesn't install: can't find README.rst"
I attempted to install the latest rope from PyPI:

[code]

I cloned the repo and ran `python setup.py install`; 0.10.2 installed successfully.

[2014-05-22 21:09] #56 closed, assigned to nobody

[2014-06-30 22:12] gotgenes opened #57 "Support Python 3.3+"
Modernize rope to install and run on Python 3 versions 3.3 and newer. See [python-future](http://python-future.org/) (prefered) or [six](https://pythonhosted.org/six/) for a single-codebase route to support Python 2 and Python 3.

[2014-08-10 12:00] jorgenschaefer opened #80 "Uncaught IndentationError in get_calltip"
This file generates an IndentationError. I would expect Rope to catch this error and either try to fix it using the usual maxfixes semantics, or throw a `ModuleSyntaxError` like for other such errors.

[code]

Backtrace:

[code]

[2014-08-10 12:05] jorgenschaefer opened #81 "Uncaught IndexError in code_assist"
This code generates an `IndexError`. I would expect Rope to simply not return any completions.

[code]

Backtrace:

[code]

[2014-08-10 12:07] jorgenschaefer opened #82 "AttributeError: 'NoneType' object has no attribute 'parent' in get_calltip"
The following code generates an AttributeError. I would expect Rope to simply not return any call tips.

[code]

Backtrace:

[code]

[2014-08-10 12:22] jorgenschaefer opened #83 "Uncaught LookupError with an unknown coding: line"
The following code produces an uncaught LookupError. I would expect Rope to produce a ModuleSyntaxError, as it does when the string passed to `code_assist` is `str` and not `unicode`.

[code]

Backtrace:

[code]

[2014-08-11 09:52] #2 closed, assigned to mcepl

[2014-08-11 12:32] mcepl opened #84 "make #79 pull request more robust"
@jorgenschaefer I have probably screwed up something, but your tests from #79 seem to be a little bit too fragile:
[code]
Could you make your tests a bit more robust, please, and survive some files existing?

[2014-09-03 09:03] mickours opened #90 "pip install broken with python 3"
The pip installation do not work because of cPickle import:

[code]

see this report:
https://groups.google.com/forum/#!topic/rope-dev/Hq_MfuYmWQc

[2014-09-03 10:26] #90 closed, assigned to nobody

[2014-09-10 17:49] bwendling opened #91 "'move' refactoring doesn't retain 'from' imports"
If you run the program below from the top-level rope directory, you'll see that the 'from' import statements aren't retained. For example, this is what I get as part of the output:

[code]

I expect the new 'import' statement to be something like:

[code]

Is this intentional?

[code]

[code]

[2014-09-11 16:48] stonebig opened #92 "Wheel packaging format for pypi.org"
Would it be possible to get a .whl universal package on Pypi ?

If I'm right, it's just a matter of adding a setup.cfg file at root level with

[code]

and then doing this to upload to pypi

[code]

[2014-11-11 22:03] perimosocordiae opened #98 "MismatchedTokenError when matching keyword splats"
As far as I can tell, this only occurs when the code has a keyword splat after a regular splat and an explicit keyword argument in a function call. For example, when running a refactor on the file:

[code]

rope produces the error:

[code]

which corresponds to the location of the `**` keyword splat

If you remove the explicit keyword and run it on `bar(*a, **c)`, everything is fine. If you remove

[2014-12-18 08:41] tobimensch opened #100 "Getting static types of all variables"
Hello,

since it looks like ropes is able to find out the static type of objects anyhow,
I'm wondering if it is possible to use ropes to get a list of all variables
in a python file along with their static types.

Thanks you

Greetings

[2014-12-18 21:42] #100 closed, assigned to nobody

[2014-12-19 08:59] #92 closed, assigned to nobody

[2014-12-19 16:51] #37 closed, assigned to nobody

[2015-01-08 11:48] Ferada opened #102 "Leaked variable from list comprehension in method extraction."
I've come across some unexpected behaviour while extracting a method, although I'm not sure if it's not still technically correct.

A reduce example is something like the following:

    def foo():
        x = [e for e in []]

        for e in []:
            def bar():
                e[42] = 1

Marking the complete loop body and running method extraction will produce the following result:

    d

[2015-01-09 01:08] mcepl commented on #102
@aligrudi what do you think? It truly looks like a bug to me.

[2015-01-09 04:46] aligrudi commented on #102
Matěj Cepl <notifications@github.com> wrote:

Indeed.  To fix it, the _For() method of _FunctionInformationCollector
in rope/refactor/extract.py has to be modified.  I wonder why
node.target does not have a Name node with ast.Store context.

	Ali

[2015-01-11 04:13] Ferada opened #104 "Failing parse on nested with-statements."
I've uploaded <del>[this commit](https://github.com/Ferada/rope/commit/6f7cacc9f261430740086748ae644ccd942ed578) with two failing tests</del><ins>[this commit](https://github.com/Ferada/rope/commit/f24503b255ad033572f7e4da13686375996d0c02) with one failing test case which</ins><del>, one just fails to refactor correctly, the other</del> raises an exception because<del>(?)</del> the source code doe

[2015-01-11 11:00] aligrudi commented on #104
Olof-Joachim Frahm <notifications@github.com> wrote:

I guess both of these cases are due to rope/refactor/patchedast.py.
The file tries to match the nodes of an AST with the source code,
which is necessary for some refactorings that modify the AST
directly.  The _handle() method of _PatchingASTWalker matches
a list of ast nodes and strings (like keywords) recursively.

	Ali

[2015-01-11 11:29] Ferada commented on #104
Actually since I've now stepped through it, the second one works if `global_` is set, which is still a bit unexpected, but okay, both variables are global, so I kind of understand why now.

Yes, so what if there is no corresponding part of the source code? The second `with` isn't actually anywhere in the source code. Maybe it would work if the region for the first one is reused; or alternatively i

[2015-01-11 13:13] aligrudi commented on #104
Olof-Joachim Frahm <notifications@github.com> wrote:

Sorry, I did not read your first message fully.  Do you
mean both:

    with open("test") as file1, open("test") as file2:

and:

    with open("test") as file1:
        with open("test") as file2:

are parsed exactly the same way (node.optional_vars in _With
containing only the first and the second being nested)?

If so, a workaround may be to

[2015-01-11 22:33] #102 closed

[2015-01-22 14:01] #84 closed

[2015-02-07 17:45] nixon opened #105 "CVE-2014-3539 python-rope: pickle.load of remotely supplied data with no authentication"
https://bugzilla.redhat.com/show_bug.cgi?id=1116485

[2015-02-10 06:39] mcepl commented on #105
I am aware of it, and I was working on it https://gitorious.org/rope/rope/source/CVE-2014-3539 but I have never been able to pull off a good automatized reproducer for test. Any merge requests for that branch would be very very welcome.

[2015-02-10 15:48] vpereira commented on #105
Hi, maybe this is already a reproducer?

[code]

[2015-02-10 23:53] mcepl opened #106 "failing tests on Windows"
See https://gitlab.com/mcepl/rope/snippets/3192 for the full log.

Some issues are clearly Windows weirdness (e.g., subprocess), but some are looking as rope lacks some stability of the code (e.g., `<rope.base.pyobjectsdef.PyClass object at 0x02981870> != <rope.base.pyobjectsdef.PyClass object at 0x029B4930>`)

[2015-02-11 05:53] aligrudi commented on #106
The main problem seems to be in DynamicOITest; rope needs to execute
python modules in a sub-process to collect the type of objects passed
to functions.  This seems to fail: either rope fails to start the
sub-process or it cannot receive the information the process sends
back.  Instead of fixing it, it may be acceptable to add a test
decorator (@onlyunix for instance) to disable them on Windows.

[2015-02-11 19:51] mcepl commented on #106
I played with it for a moment and I am returning to the `run` method in `doa.py` module.

1. When running on Linux v. Windows, the args variable is very different. On Windows it is
[code]
(yes, I hope the string is actually complete, just Visual Studio is not willing to give me better representation), whereas on Linux it is
[code]
(yes, Eclipse provides a way more civilized output)
It seems like w

[2015-02-11 19:55] mcepl commented on #106
We already have `ropetest.testutils.run_only_for_unix`. When we finally have `unittest2` (or `unittest` if python >= 2.7), shouldn't we use proper `unittest.skip` decorators? E.g., documentation shows this as an example:
[code]

[2015-02-11 20:12] mcepl commented on #106
When I run this test on Windows just in plain Python `pdb` I got
[code]

[2015-02-12 00:50] mcepl commented on #106
With pull request #108 all tests pass on Windows when run via `python setup.py test` (Visual Studio is somehow broken, but I don't think it matters).

[2015-03-05 18:26] mcepl opened #109 "Consider fixes from python-mode"
Not that it make much sense to me, but we have
- [ ] https://github.com/klen/python-mode/commit/cec42722bf3f217da1ffbaa5c0486e3dfb08a377
- [x] https://github.com/klen/python-mode/commit/70d8eab3bee42fbde292b4fa2813e69d9a5e45fe

[2015-03-06 06:55] aligrudi commented on #109
Matěj Cepl <notifications@github.com> wrote:

This seems OK.

I am not sure about this one:

I think self.forget_all_data() cannot be removed: if "resource"
is imported in other modules, they need to be invalidated as well.

I am not sure about this one; I guess forget_all_data() is called
to invalidate cached PyObjects, before starting static object
analysis.

	Ali

[2015-03-06 20:01] mcepl commented on #109
If we are talking just about https://github.com/klen/python-mode/commit/cec42722bf3f217da1ffbaa5c0486e3dfb08a377#diff-8b16a9732c18882bc9cb97b31ec63e28R370 (i.e., adding `path = path or ''`) isn't better to make a formal parameter path optional defaulting to ""?

OK, let's forget about this one.

[2015-03-07 13:44] aligrudi commented on #109
Matěj Cepl <notifications@github.com> wrote:

Indeed.  I wonder why should anyone pass None to _realpath()?
Does it ever happen?  If it does, I think the caller needs to
be fixed, instead of changing _realpath().

	Ali

[2015-03-18 00:25] NicolasWebDev opened #112 "Unexpected behavior when extracting loop body"
Program versions:
- rope==0.10.2
- ropemode==0.2
- ropevim==0.5.0

Let's say I have the following function:

[code]

When I select the i += 1 for method extraction, I get:

[code]

which is exactly what I would expect.

But if I extractmethod all of the loop body instead, I get:

[code]

which clearly gives me a different output.

It seems that variables that are used inside the body are not detec

[2015-03-30 13:33] cro opened #113 "Rope vs rope-py3k"
Greetings,

Is rope-py3k maintained anymore?  Does this version of rope support Python 3?

[2015-03-31 07:28] mcepl commented on #113
Duplicate of #57

[2015-03-31 07:28] #113 closed

[2015-04-09 14:25] NicolasWebDev opened #114 "Problem in ExtractMethod when incrementing a variable."
Let's say I have the following code:

[code]

It prints two.

When extracting the second line, I would expect:

[code]

I get instead:

[code]

which clearly does not work.

I know nothing about the complexity of managing assignment operators, but if it is not supported at the moment, it would be better to block the refactoring instead of creating a wrong one.

Thanks for your help.

[2015-04-09 19:59] aligrudi commented on #114
Sathors <notifications@github.com> wrote:

Is this caused by the recent changes to rope/refactor/extract.py?

	Ali

[2015-04-23 01:35] hayd commented on #57
Is this still in the air?

To get the ball rolling... I had a quick go towards py 2 and 3 compatibility in #115. Whilst the tests don't pass python 3 yet, they at least run. I think they are pretty non-intrusive changes, no dependencies and they doesn't break python 2.

[2015-04-23 05:04] gotgenes commented on #57
Some other overlapping projects would be [baron](https://github.com/Psycojoker/baron/) and/or [redbaron](https://github.com/Psycojoker/redbaron/). One interesting thing is psycojoker/baron#61, which posits lib2to3 could be used to span both Python 2 and Python 3 syntax trees.

[2015-04-23 05:25] hayd commented on #57
@gotgenes interesting! [yapf](https://github.com/google/yapf) uses lib2to3 to make a similar F-ishST (ast + spliced in comments).

[2015-04-24 02:14] Psycojoker commented on #57
Hello (baron author's here),

Another option you might want to consider is to take a look at what jedi is doing right now. The author is writing a parser also based on lib2to3 (which might already be finished) with a scope way closer to what rope is trying to achieved (adding static analysis to the python AST).

On my side I haven't had the time to explore the lib2to3 path since I'm horribly busy

[2015-04-24 03:02] gotgenes commented on #57
Great to have a reply from you, @Psycojoker! Where is this discussion taking place?

[2015-04-24 05:12] Psycojoker commented on #57
My bad, totally forgot the links in my previous post.

The mail from the jedi author talking about his works: https://mail.python.org/pipermail/code-quality/2014-November/000382.html

This was in the first thread of this month on the "code-quality" mailing list: https://mail.python.org/pipermail/code-quality/2014-November/thread.html#382 "RedBaron, a bottom-up refactoring lib/tool for python".

Yo

[2015-07-01 15:01] ceridwen opened #117 "MismatchedTokenError caused by use of exec() function"
The problem is that `ast` compiles both the exec statement and exec function into the same AST nodes, while patchedast.py assumes the `exec` statement.

[code]

From `patchedast.py`, lines 335-342.

[code]

I'm willing to write a patch and pull request, but what's the right way to rewrite _Exec?

[2015-07-17 04:59] dwiel commented on #23
looks like this is fixed with 7d9aecd89b09c9b4f7dd59fd8a83f989125508be

[2015-07-17 07:56] mcepl commented on #23
Yes, it looks like. And yes, we have a testcase for that, so this is truly fixed.

[2015-07-17 07:56] #23 closed

[2015-07-20 16:35] dwiel opened #119 "IndexError when searching for fields in files with no newline at the of the file"
In order to reproduce:

x.py:
[code]

test/\__init__.py
[code]

note that test/\__init__.py must not have a newline at the end of the file.  Try to find_occurrences on system in the call in x.py and you will get this IndexError:

[code]

I tried to go through and find the right place to fix it, but wasn't sure where to make the change.  We don't want to change the FIle.read to enforce newline at e

[2015-07-27 11:31] mcepl commented on #119
@aligrudi ... can I get your wisdom here, please?

[2015-07-27 20:25] aligrudi commented on #119
Zach Dwiel <notifications@github.com> wrote:

You may add a test case to WordRangeFinderTest in codeanalyzetest.py.

The problem is that in is_from_aliased(), (end + 1) is passed to
_find_word_end() to find the end of the next word (end is
len(self.code) - 1 and end + 1 goes past self.code).  I wonder if
is_from_aliased() function should return False if an IndexError is
raised (it already does so

[2015-08-01 15:17] galvinograd opened #120 "Convert a Function to a Method Feature Request"
Hey,

I think a lot of developers would benefit from the ability to move an arbitrary function to a class as a method, and break it down inside the class, in addition one should be able to choose to one of the following behaviors:
 * the class is initialized by the ctor
 * the class is initialized by a factory method
 * the method is a staticmethod
 * the method is a classmethod

What do you think

[2015-08-01 17:13] aligrudi commented on #120
Gal Vinograd <notifications@github.com> wrote:

It does seem interesting.  I wonder how much of this
can be done right now with the inline method refactoring.
For instance:

  class C(object):
      pass

  def func(a):
      return a * 2

Can be transformed into

  class C(object):
      @staticmethod
      def func(a):
          return a * 2

  def func(a):
     C.func(a)

And performing inline

[2015-08-01 21:35] galvinograd commented on #120
It sounds like the right way, I'll start implementing in the next few days :)

[2015-08-04 09:42] Wilfred opened #122 "Extract to function parameter"
I'd like to be able to do the following refactoring:

[code]

Could this be added to rope?

[2015-08-08 14:03] elvis-sik opened #123 "Support Cython"
PyCharm can refactor Cython code. I don't expect myself to use this, anyway. Is it realistic to do it within rope, or it would be wiser to make a new library? (and if so, would it be a daunting task?).

[2015-08-09 20:47] mcepl commented on #117
@aligrudi I have missed this one. Could you please show here some opinion, please?

[2015-08-09 20:55] mcepl commented on #49
@aligrudi  any idea about this? Can we somehow visualize the AST tree we get?

[2015-08-13 03:41] aligrudi commented on #112
Sathors <notifications@github.com> wrote:

It should not be difficult to fix (and may be introduced in
the last series of changes to inline.py).

	Ali

[2015-08-13 03:41] aligrudi commented on #117
ceridwen <notifications@github.com> wrote:

Does the second case cause an exception in rope?

See _excepthandler() and how it uses semicolon_or_as_in_except
to handle a similar case.

	Ali

[2015-08-13 03:49] aligrudi commented on #49
Matěj Cepl <notifications@github.com> wrote:

I think it is possible to support MRO; one can start by
modifying PyClass._create_concluded_attributes() in
pyobjectsdef.py.  However, the additional overhead may
be very large.

	Ali

[2015-08-24 12:10] johnathanz opened #124 "Failed to install using pip3.4 - ImportError: No module named 'cPickle'"
Hi there

I'm trying to install rope using pip3.4.

This is the error I'm getting:

---
▶ pip3.4 install rope
Collecting rope
  Downloading rope-0.10.2.tar.gz (221kB)
    100% |████████████████████████████████| 225kB 1.1MB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/private/var/folders/

[2015-08-24 15:03] mcepl commented on #124
Python 3 is still not supported. There are some rumours about the progress in #57 but nothing has got really done yet.

[2015-08-24 15:03] #124 closed

[2015-09-01 10:00] julj opened #125 "Tutorial?"
I just installed python-rope and I cannot find anywhere how to use it! I read the Rope Overview but I don't know how to start.

1 - sudo apt-get install python-rope
2 - ?

How/when .ropeproject is created? How to rename a module (so that all the call to this module are renamed too) for instance?

[2015-09-06 04:54] aligrudi commented on #125
Julien Ricard <notifications@github.com> wrote:

I guess python-rope installs the library only, so you can use
its API, as explained in library.txt.  However, if you plan to
use rope inside an editor, you need a plug-in like ropevim
(for Vim) or ropemacs (for Emacs).

	Ali

[2015-09-08 08:52] #125 closed

[2015-09-08 08:55] mcepl commented on #123
I have absolutely no idea. I guess it would require parsing of the Cython source and generating AST trees (is there something like that prepared?). Then you can start trying to fiddle with such tree via rope. It seems like quite a task.

@aligrudi what do you think?

[2015-09-25 07:41] aligrudi commented on #123
Matěj Cepl <notifications@github.com> wrote:

I am afraid that is not possible in rope, due to the
differences in ASTs between Python and Cython.

	Ali

[2015-09-25 11:47] #123 closed

[2015-10-01 16:10] anarcat commented on #57
it seems there was some progress here... does rope work with python3 yet? in 0.10.2, i get errors if only with the print() function...

[2015-10-29 14:25] guettli opened #128 "New release on pypi? Last version is from 2014-05-22"
Hi,

are there any plans to release a new version on pypi?

The latest version there is from 2014-05-22.

[2015-10-29 21:07] #128 closed

[2015-10-29 21:09] mcepl commented on #80
Patches would be welcome and if reasonable then accepted, but otherwise, no ``rope`` never promised to fix broken syntax. We just use standard Python parser and so we break on the same code Python does.

[2015-10-29 21:09] #80 closed

[2015-10-29 21:12] mcepl commented on #81
The same logic as https://github.com/python-rope/rope/issues/80#issuecomment-152327450 ... where did you have cursor when initiating completion?

[2015-10-29 21:13] mcepl commented on #82
Closing as duplicate of #81 and the other one. Please, the conversation there.

[2015-10-29 21:13] #82 closed

[2015-10-29 21:14] mcepl commented on #83
Closing as duplicate of #81 and the other one. Please, keep the conversation there.

Patches welcome.

[2015-10-29 21:15] mcepl commented on #83
No, really, this is nonsense. rope is not expected to fix broken code, and I don't want to make it into corrector of one.

[2015-10-29 21:16] mcepl commented on #81
The same logic as https://github.com/python-rope/rope/issues/80#issuecomment-152327450 and #83 ... where did you have cursor when initiating completion?

[2015-10-29 21:16] #81 closed

[2015-10-30 11:20] jorgenschaefer commented on #83
Thank you for the clarification.

I would like to disagree on the "nonsense" part, though. Certain features of Rope, for example completion suggestions, calltips, etc., are primarily useful when editing a source file. While editing source code, those files _will_ not be syntactically correct. Relying on syntactically correct source files makes those features in Rope mostly useless.

Additionally,

[2015-10-30 12:59] mcepl commented on #83
First of all, let me apologize for that “nonsense”. I shouldn’t use the term. On the other hand, let me present to you my “mission statement” in https://github.com/python-rope/rope/issues/57#issuecomment-47872067 . If you have any free capacity and produce a pull request, I will certainly consider it. On the third hand, being syntactically correct is not that difficult with help of ``flake8`` or s

[2015-10-30 13:54] guettli commented on #128
New version is available: https://pypi.python.org/pypi/rope

Thank you :-)

[2015-11-06 13:14] mcepl commented on #17
Fixed either by #129 or in dc1cb01.

[2015-11-06 13:14] #17 closed

[2016-01-05 08:02] mcepl opened #134 "Don’t convert from CRLF to LF"
Reproduction steps:
1. edit a Python script with CRLF as EOLs in vim
2. make any operation on it (e.g., variable rename)

Observed:

The file has LF as EOL now.

Expected:

Don't do anything else than asked for.

[2016-01-09 18:51] emacsway-qarea commented on #57
I've added some Py3k fixes in #133 . Currently remains only failures=50, errors=40

[2016-01-09 18:52] emacsway commented on #57
I've added some Py3k fixes in #133 . Currently remains only failures=50, errors=40

[2016-01-10 05:09] shackra opened #136 "Moving content from file A to file B and then updating A"
Hello!

I'm not sure if this exists on rope. I want to move some definitions of variables from one file to another. Thing is, these variables are heavily used on the first file which means that an update by hand will be required after moving them.

I thought this would be a job for a computer and not a human, *The computer should be doing the hard work. That's what it's paid to do, after all.*

[2016-01-11 09:03] mcepl commented on #136
I don't understand the problem. You move definition of ``foo`` to other module ``bar`` and then you include into the first module ``from bar import foo``. What else is to do for the computer?

[2016-01-11 16:53] shackra commented on #136
Oh, if you put it that way I guess nothing! 😅

El 11 de enero de 2016 03:03:18 CST, "Matěj Cepl" <notifications@github.com> escribió:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-01-11 17:45] mcepl commented on #136
I mean really I didn’t want to shut you down. I just really didn't know what you were talking about so I tried to get some more explanation from you.

[2016-01-11 17:50] shackra commented on #136
No, no, it's fine!

I totally forget that importing the object instead of just the module would save me from putting the module in front of the object in everywhere I used such object in my file!

El 11 de enero de 2016 11:45:02 CST, "Matěj Cepl" <notifications@github.com> escribió:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-01-11 18:32] mcepl commented on #136
OK, thanks for being of help.

[2016-01-11 18:32] #136 closed

[2016-01-29 14:35] mcepl commented on #83
OK, following on dicussing on jorgenschaefer/elpy#702 reopening this ticket. If anybody provides pull request, I am willing to consider it.

[2016-02-14 00:13] sergeyglazyrindev opened #139 "non-testing tests"
The issue was created by @mcepl and placed here https://github.com/python-rope/rope/issues/43

[2016-02-14 00:14] sergeyglazyrindev opened #140 "RopeOmni: Non-ascii characters in docstrings trigger unicode error"
This issue was created by @mcepl and placed here https://github.com/python-rope/rope/issues/28

[2016-02-14 00:15] sergeyglazyrindev opened #141 "source_folders config does not work with symlinks"
The issue was created by @mcepl and placed here https://github.com/python-rope/rope/issues/27

[2016-02-14 00:18] sergeyglazyrindev commented on #140
Sorry, created in wrong repo

[2016-02-14 00:18] #140 closed

[2016-02-14 00:19] sergeyglazyrindev commented on #141
Sorry, created in wrong repo

[2016-02-14 00:19] #141 closed

[2016-02-14 00:19] sergeyglazyrindev commented on #139
Sorry, created in wrong repo

[2016-02-14 00:19] #139 closed

[2016-02-18 00:18] emacsway opened #145 "Goto definition and autocompletion in docstrings"

[2016-02-18 00:18] emacsway opened #146 "Add type hinting based on annotations PEP-0484"

[2016-02-18 00:23] emacsway opened #147 "Implement C3 linearization algorithm"
More info:
- https://en.wikipedia.org/wiki/C3_linearization
- https://www.python.org/download/releases/2.3/mro/

[2016-02-18 00:25] emacsway opened #148 "Support *pyi files of PEP-0484"
More info:
- https://www.python.org/dev/peps/pep-0484/

[2016-02-18 01:18] emacsway commented on #147
https://github.com/mikeboers/C3Linearize

[2016-02-19 00:34] emacsway opened #150 "Make pluggable providers for type hinting"

[2016-02-24 03:30] emacsway opened #151 "Py3k (and __future__): use absolute import."

[2016-02-24 16:24] mcepl commented on #151
Go ahead and suggest a pull request.

[2016-04-09 10:32] MarekLew opened #155 "not extract for ... else"
rope do not extract function from **for .... else** statemant

extract:
[code]
to:
[code]

commit where I **add test**:
https://github.com/MarekLew/rope/commit/3e6155a5f82be1d6c99597eed0a9f730629ce388

[2016-04-09 12:29] MarekLew commented on #155
https://github.com/python-rope/rope/pull/156 fix it

[2016-04-10 18:23] mcepl commented on #155
Merged.

[2016-04-10 18:23] #155 closed

[2016-04-25 18:06] soupytwist opened #157 "AttributeError: 'PyObject' object has no attribute 'get_doc'"
File "/third_party/py/rope/refactor/rename.py", line 97, in get_changes
  File "/third_party/py/rope/refactor/rename.py", line 195, in rename_in_module
  File "/third_party/py/rope/refactor/occurrences.py", line 78, in find_occurrences
  File "/third_party/py/rope/refactor/occurrences.py", line 215, in __call__
  File "/third_party/py/rope/base/utils.py", line 11, in _wrapper
  File "/third_party/

[2016-04-26 11:49] mcepl commented on #157
@emacsway #143 was your pull request, right?

[2016-05-02 12:59] mcepl commented on #157
BTW, @soupytwist , could we get some reproduction steps, please?

[2016-05-13 22:44] mcepl commented on #148
Yes, that would be awesome.

[2016-05-15 13:10] mcepl commented on #148
Do you have any thoughts on how to parse files like https://gitlab.com/mcepl/m2crypto/blob/PEP484_stub_files/M2Crypto/Err.pyi ? Would standard Python `ast` module work on them?

Also, if we can parse it and understand type hints, what to do with them? The most commonly used purpose so far, checking of the calls to function for correct actual parameters, is probably better served by ``flake8`` and

[2016-05-15 20:18] mcepl commented on #148
After playing with a stub files for a moment and I came to the conclusion, that I don't want to have anything to do with it. Maintaining a separate file for each module is horrible amount of work, and I cannot imagine that anybody would be able to keep the two files in sync all the time. So, no, I don't want to invest into ``*.pyi`` files too much.

However, what would be useful (and probably a wa

[2016-05-18 15:29] mcepl commented on #148
@aligrudi any thoughts on the previous comment, please?

[2016-05-25 20:58] soupytwist commented on #157
Sorry for the delay, it took me a while to narrow this down to something that I can share. I think this is not so important an issue, more an abuse of the language in the code I'm refactoring.

Here's a contrived example to demonstrate. Possibly this could manifest in a more logical way.
[code]

The assumption that rope makes is that if any parent class has an attribute with the same name as a met

[2016-05-26 09:48] mcepl commented on #157
Of course, I won't do that. This is certainly a bug, we should make a difference between method and property. However, I am completely swamped with other work, so pull requests are very very much welcome.

[2016-06-09 10:17] ColinDuquesnoy opened #163 "TabError: inconsistent use of tabs and spaces in indentation"
Hello,

I've tried to install rope from master branch, but it failed with the following error:

[code]

[2016-06-09 12:41] mcepl commented on #163
Good person committing 7232b26878c76040865358190f925e4c6be15e8d broke our code.

[2016-06-09 12:58] #163 closed

[2016-06-09 13:03] ColinDuquesnoy commented on #163
Thank you!

[2016-06-14 10:07] mcepl commented on #146
Just to throw here https://github.com/davidhalter/jedi/issues/630#issuecomment-225763004 ... merge requests based on this idea would be probably considered.

@aligrudi , what do you think?

[2016-07-14 03:46] DonJayamanne opened #167 "Not working in Python 3"
I'm trying to use this library in Python3, however it falls over with the following errors.
FYI - I can see the the same errors are reported on CI Travis (for Python 3 https://travis-ci.org/search/python-rope)
[code]

Rope Version 10.3
Python Version 3.5

[2016-07-14 12:03] mcepl commented on #167
Yes, it is not. There are some efforts in [devel branch](https://github.com/python-rope/rope/tree/devel) to port rope to python 3, but it has not been finished yet. More work on that branch is definitively welcome.

[2016-07-14 12:03] #167 closed

[2016-07-14 12:07] DonJayamanne commented on #167
Oh, I thought I was already supported thanks. Will check out the code.

[2016-07-22 07:49] DonJayamanne opened #168 "Question: Determine number of occurrences when extracting a variable/method"
When extracting a variable or method, we have the option of extracting Similar code (parameter similar in the method - [get_changes(self, extracted_name, _**similar=False**_, global_=False)](https://github.com/python-rope/rope/blob/7232b26878c76040865358190f925e4c6be15e8d/rope/refactor/extract.py#L53)).

Thanks for this great feature.

Now, here's my requirement.
Upon selecting the extract variabl

[2016-07-26 09:13] DonJayamanne opened #171 "Question: Contributing to the devel brach for Python 3.5"
@mcepl, I'm in the process of trying to resolve the issues in rope library when running under Python 3.5.
So far I've made two PRs.
Over the next few weeks/months, more issues will be fixed (that's the intent), hence more PRs will be submitted.

I'm going to assume that most of the future fixes will rely on older fixes that I may have made. for instance the PR #169 is crucial to getting #170 worki

[2016-07-26 13:17] mcepl commented on #171
http://thread.gmane.org/gmane.comp.python.rope/704

[2016-08-08 20:26] alflanagan commented on #171
@soupytwist is the new maintainer for rope: https://www.mail-archive.com/rope-dev@googlegroups.com/msg00002.html

gmane.org is down, maybe permanently: https://lars.ingebrigtsen.no/2016/07/28/the-end-of-gmane/comment-page-1/#comment-13502. Clearly maintaining volunteer support for these projects is tough. At least @mcepl hasn't been sued (I hope).

Thanks @mcepl for all your work.

[2016-08-08 20:52] soupytwist commented on #171
Hi @DonJayamanne,

I'm not sure where this was left off-- did you decide on a strategy to move forward with this? Personally, I prefer smaller PRs + rebasing as it makes reviews + debugging issues a lot simpler. I'll take a look at your existing pulls very soon as I catch up with the state of this repo. If you can keep your changes small, I can review them quickly and hopefully we won't waste too

[2016-08-08 21:38] DonJayamanne commented on #171
Hi Nick,

I will resubmit the PR today as I have merged the matter into my revel branch. Yes they are small do it should be ok.

Cheers,
Don

Get Outlook for iOS<https://aka.ms/o0ukef>

_____________________________
From: Nick Smith <notifications@github.com>
Sent: Tuesday, August 9, 2016 6:52 AM
Subject: Re: [python-rope/rope] Question: Contributing to the devel brach for Python 3.5 (#171)
To: py

[2016-08-08 22:58] DonJayamanne commented on #171
@soupytwist , here's the new PR #172

[2016-08-08 22:58] DonJayamanne commented on #171
Finally, @soupytwist now, that we have a new maintainer for this repo, i believe this issue can be closed.

[2016-08-08 23:00] soupytwist commented on #171
Thank you for the updates, I'll take a look at your pulls tonight.

[2016-08-08 23:00] #171 closed

[2016-08-08 23:01] DonJayamanne commented on #171
@soupytwist , with the new PR all the unit tests pass except for pypy (plenty of changes/fixes left there). Does this mean this devel branch can now be merged into the master.
FYI - I have deployed the devel branch (after merging the master into it) with [my product](https://github.com/DonJayamanne/pythonVSCode).

[2016-08-08 23:03] soupytwist commented on #171
I'm not quite familiar enough with what's been going on in the devel branch to be comfortable merging it yet-- perhaps soon, if the tests are looking good. I'm not quite sure what @mcepl had intended for when to merge this branch.

[2016-08-11 20:06] emacsway commented on #171
Hi, @soupytwist ,

First of all, let me say Thank you for decision to maintain rope. And thank to all contributors who involved in rope development.

The devel branch does not support fully Python3 (there is left a lot of work), but it passes all tests.
Some part of the branch was done by me. Another part was done (and finished) by @sergeyglazyrindev

I suggest merge it, so all commits in master w

[2016-08-11 20:16] soupytwist commented on #171
Thanks @emacsway. I created #173 to track this, in case there are any problems. I'll take another look through the branch asap and merge if it is ok.

[2016-08-12 07:38] emacsway commented on #171
Thank you,  @soupytwist

[2016-08-16 21:29] emacsway commented on #157
I think, there is an easy fix. I will try to fix at this weekend. Thanks.

[2016-08-17 01:22] DonJayamanne commented on #171
```devel branch does not support fully Python3 (there is left a lot of work)```
@emacsway , please could you elaborate on this. For instance what isn't supported, we could possibly try adding the unit tests or keep track of what needs to be supported/fixed for python3.
I'd like to try an pitch in to help.

[2016-08-18 02:47] emacsway commented on #171
@DonJayamanne , yes, sure.

[2016-08-19 00:57] DonJayamanne opened #174 "Unpacking using Python3 syntax not supported"
Rope library falls over when dealing with Python3 syntax (unpacking)
This fails in the devel branch (todo item for Python3 support).

[code]

[2016-08-19 01:38] DonJayamanne commented on #174
Oops, it does.

[2016-08-19 01:38] #174 closed

[2016-08-22 04:37] mckelvin opened #175 "RopeRestructure bug"
I'm using the python-rope/ropevim vim plugin and find a bug:

pattern: `assert_true(${param})`
goal: `assert ${param}`

input: `assert_true(abs(lower[i + 0] - 87.7086) < 1e-3)`
unexpected output: `assert abs(lower[i + 0] - 87.7086) < 1e`

the output should be `assert abs(lower[i + 0] - 87.7086) < 1e-3`

* * *

Update: another similar bad case

pattern: `assert_equals(${param1}, ${param2})`
goal: `

[2016-08-22 15:00] soupytwist commented on #175
Thanks for reporting this. That is strange, I'll see if I can track down what's causing it as soon as I get some time.

[2016-08-22 16:33] soupytwist commented on #175
Unfortunately this was a bug in some [re parsing](https://xkcd.com/1171/) and should be fixed by b1a7fe5035b41602717fb58996ac53f66445954d. It can use some more attention still, but should be improved. Please let me know if there is still a problem.

Thank you again!

[2016-08-22 16:33] #175 closed

[2016-08-22 19:07] soupytwist opened #176 "patchedast test coverage is insufficient"
There are cases where `patchedast.patch_ast` fails with "cannot be matched" errors. I have not narrowed this down to specific cases that fail yet, this needs to be investigated so these can be fixed and tests written.

[2016-08-23 09:42] mckelvin commented on #175
@soupytwist 👏  Thanks so much.

[2016-08-23 20:30] soupytwist commented on #28
Closing as obsolete.

[2016-08-23 20:30] #28 closed

[2016-09-27 10:27] mcepl opened #179 "Problem of os.path"
See https://groups.google.com/d/topic/rope-dev/08LAzaQ7pzQ/discussion and http://thread.gmane.org/gmane.comp.python.rope/59/. There are two simple test cases.

1. In a file with the following text (``|`` is where the cursor is):
[code]
    try to do code completion and there is none.

2. Other one is on this file:
[code]
    try to complete on the os.path.ex (there is os.path.exists of course)

Fr

[2016-09-27 19:04] soupytwist opened #180 "Broken RE for finding line starts"
This RE[0] seems to break on lines which contain an escaped `\` at the end of a string, e.g:

[code]

I believe it doesn't consider this to be a "close string" token (because there is a preceding "\" and so it confuses the syntax on the rest of the file.

[0] https://github.com/python-rope/rope/blob/master/rope/base/codeanalyze.py#L133

[2016-09-27 19:52] #180 closed

[2016-09-30 17:16] soupytwist opened #183 "Failing tests, python2.7/RHEL-7"
[code]

The above output from @mcepl on python2.7/RHEL-7, though these tests pass on Travis.

[2016-09-30 17:23] soupytwist commented on #106
This seems to be resolved, closing.

[2016-09-30 17:23] #106 closed

[2016-10-01 18:49] MarekLew commented on #163
Sorry about that.  7232b26 is my first fix. Unfortunately, I relied solely on testing and installing "python setup.py install".

[2016-10-01 23:31] mcepl commented on #183
There must be something strange my system, indeed. I cannot now pass even with commits I know for sure I have tested before. Keep this issue open please, but it is not blocking #182 .

[2016-10-02 06:40] soupytwist commented on #122
That's an interesting idea. I think there is some complexity in it, for example if the expression being moved references variables defined in the function scope.

If you would like to add this capability, we would gratefully accept a pull request.

[2016-10-02 06:49] mcepl commented on #122
It seems to me a bit dangerous: mutable default arguments [are] (http://docs.python-guide.org/en/latest/writing/gotchas/#mutable-default-arguments) [evil](http://effbot.org/zone/default-values.htm), so the code would have to check that it doesn’t do The Bad Thing™.

[2016-10-03 20:07] MarekLew commented on #163
Yes It's happens
I tested this on two computers and 3 systems before committing.
On Ubuntu (14.04,14.06) and python 2.7.12 all test passed.
On windows 7 more test fault(I don't care this.).
Changing editor helped ;)

[2016-10-26 15:36] emacsway commented on #157
@soupytwist , sorry for delay in fix...

[2016-10-26 16:23] #157 closed

[2016-10-26 16:24] soupytwist commented on #157
Thank you!!!

[2016-10-26 19:31] emacsway commented on #146
@soupytwist , can you assign this ticket to me, please?

[2016-10-26 19:47] emacsway commented on #146
New in Python 3.5:
- https://docs.python.org/3/library/typing.html
- https://hg.python.org/cpython/file/3.5/Lib/typing.py

[2016-10-29 13:08] emacsway opened #186 "Support for python3.5 typing"
- https://docs.python.org/3/library/typing.html
- https://hg.python.org/cpython/file/3.5/Lib/typing.py

[2016-10-29 13:09] emacsway commented on #186
@soupytwist , assign to me, please

[2016-10-29 13:09] emacsway commented on #150
@soupytwist , assign to me, please

[2016-10-29 13:09] emacsway commented on #146
Blocked by #150 and  #186

[2016-10-29 17:43] emacsway commented on #150
Done!
@soupytwist , please, merge #187

[2016-10-29 17:44] emacsway commented on #146
#150 is done in #187

[2016-11-01 10:01] hackrole opened #188 "definition not found error while found definition in library."
currently, the rope_goto_definition works on names defined in my project code. while I want to jump to a name defined in the library(for example rest_framework.viewsets.ModelViewset), it gives error message. Definition not found.
![ba0b65e2-955b-11e6-85b7-e6e72bb069e1](https://cloud.githubusercontent.com/assets/2100811/19886213/4185ae86-a05d-11e6-8d96-95a0792e5a2b.png)

[2016-11-05 13:38] mcepl commented on #188
Is the library already imported in the current file?

[2016-11-07 02:36] hackrole commented on #188
yes, I import it and then try to find the definition on it definitions.

[2016-11-07 02:48] emacsway commented on #188
@hackrole , do you use virtualenv? Are your editor running in this virtualenv or has activated it?

[2016-11-07 02:52] hackrole commented on #188
yes, I use virtualenv and virtualenv-wrapper. I use virtualenv-vim plugin. And I am sure I have active it on my vim, use
`:virtualEnvActive tms`

[2016-11-07 14:12] mcepl commented on #188
OK, no clue about ``virtualenv``, I don't use it.

[2016-11-07 21:42] emacsway commented on #188
I'm not a vim user, so, have a limited possibilities to hep. But I think, you need debug [sys.path](https://docs.python.org/2/library/sys.html#sys.path), for example by logging.debug(), to be sure, your library path is present in it.

[2016-11-07 21:57] emacsway commented on #188
As I see on latest screen shot, you try go to definition of module. Go to definition currently does not work for modules.

On last by one screen shot you try to go to definition of C function, it also does not work currently (watch for #148)

[2016-11-17 07:42] hackrole commented on #188
That was sad to me. Hope the new version can do more things.

[2016-11-17 07:42] #188 closed

[2016-11-22 23:09] emacsway opened #189 "Inline IAttrProvider into IAssignmentProvider"
In continues of #187

We can inline IAttrProvider into IAssignmentProvider.
See https://github.com/emacsway/rope/blob/51ac587ad70e913946190b359813534a4b4a4664/rope/base/oi/soi.py#L79
and https://github.com/emacsway/rope/blob/51ac587ad70e913946190b359813534a4b4a4664/rope/base/oi/soi.py#L84

Let me fix it.

[2016-11-22 23:12] emacsway commented on #189
Move this logic into IAssignmentProvider https://github.com/emacsway/rope/blob/51ac587ad70e913946190b359813534a4b4a4664/rope/base/oi/soi.py#L91

[2016-11-22 23:13] emacsway commented on #189
And remove IAttrProvider.

[2016-11-23 04:32] emacsway commented on #189
Done in #190

[2016-11-23 04:33] #150 closed

[2016-11-23 11:29] mcepl commented on #150
OK, is there some piece of documentation what all this means? Could it be somehow used by the plugin writers (e.g., ``ropemacs`` and ``ropevim``)?

[2016-11-23 16:54] emacsway opened #191 "Add docs how to write pluggable type-hinting providers."

[2016-11-23 16:58] emacsway commented on #150
@mcepl , it's a good idea. First of all, the pluggable providers required by #146. I need it to go forward. I've added ticket #191 to add docs how to write pluggable type-hinting providers.

[2016-11-23 19:11] #189 closed

[2016-11-23 20:08] emacsway commented on #148
https://github.com/python/typeshed

[2016-11-24 22:27] emacsway commented on #186
https://pypi.python.org/pypi/backports.typing

[2016-11-25 00:12] emacsway commented on #186
@soupytwist , I think, we have to add support of metaclass... I don't see another way...

[2016-11-25 15:57] emacsway commented on #186
That's why this problem was resolved in jedi: https://github.com/davidhalter/jedi/blob/be2a97cd36ce1b7d6f587ef122efc3433b1e8ae2/jedi/evaluate/jedi_typing.py

[2016-12-09 14:03] erikw opened #194 "AutoImport imports if already imported"
`AutoImport` should not import the given name if it is already imported. Issuing this command many times on the same symbol will just append more imports

[code]

[2016-12-09 16:41] soupytwist commented on #194
I'll take a look at this soon, it's definitely a bug.

Thanks for reporting!

[2016-12-09 20:31] sergeyglazyrindev commented on #194
Hey Nick.
I'll check it on next week.
Please assign this issue to me.

[2016-12-09 20:34] soupytwist commented on #194
Github won't let me do that, lame. It's all yours!

[2016-12-10 14:46] emacsway commented on #194
@soupytwist , probably, @sergeyglazyrindev should be added as member first.

[2016-12-22 11:24] sergeyglazyrindev commented on #194
Hey guys!
I am not sure this is an issue with rope Autoimport stuff.
It seems like an issue in ropemode.
https://github.com/python-rope/ropemode/blob/master/ropemode/interface.py#L606-L613
Ropevim uses ropemode to communicate with rope and editor.
All what does ropemode is simply asking a list of globally registered modules
https://github.com/python-rope/rope/blob/master/rope/contrib/autoimport.py

[2016-12-23 17:36] mcepl commented on #194
Great analysis! Thank you. Just one thought: don't we have some better way how to find which imports are present than simple text search?

[2016-12-23 20:09] sergeyglazyrindev commented on #194
Yes, I thought about much deeper analysis. But I need to test it with ropevim and vim. Actually, I use emacs, so that's what I could to get just investigating the code sources. But as far as I understand, anyway, much proper solution should be related to analyzing text in code editor because this module could be developed and file not saved, so, if we decide to implement it only in rope (which is

[2016-12-23 20:19] sergeyglazyrindev commented on #183
Hey Matej
Could you please let me know implementation of python ? Is there any specific stuff do you use or installed on your redhat  ? It works on my pc (CPython).

[2016-12-23 22:18] sergeyglazyrindev commented on #179
Hey guys!
That's an interesting issue. To be honest I couldn't find the real reason of the issue but according to the discussion with @aligrudi the cause of it is that there are some bad imports in os.py
https://groups.google.com/d/msg/rope-dev/08LAzaQ7pzQ/lgPCDXZTkMgJ
I thought about this problem. I believe we overcomplicated it in rope
Please correct me but we can simplify the process of codeass

[2016-12-23 22:29] sergeyglazyrindev commented on #179
Actually, I thought about parsing different chunks of ast tree by different methods, for example:
if code is following: import os; os.path.
we will check if os imported, if imported, check if it's some builtin or external dependency, collect whole subtree of ast tree (os.path subtree) back to string, execute it, that's it.
but now we evaluate step by step each ast node... which is correct but mayb

[2016-12-24 09:11] mcepl commented on #194
Doesn’t ropemacs use ropemode as well?

[2016-12-24 09:12] sergeyglazyrindev commented on #194
Yes, it does. I'll try to do much deeper analysis a bit later.

[2017-01-24 13:49] RonnyPfannschmidt opened #195 "import reordering breaks import cycle mitigation"
while moving a package around using a script with rope, rope moved one of my import statements from the end of a module to the start of a module,

however this import statement was placed intentionally there to work around a import cycle

an illustrative example `__init__.py`

[code]
gets turned into

[code]

[2017-01-24 13:57] soupytwist commented on #195
Hi,
I have added an option a few months ago to address this issue, specifically. Can you please try setting this [configuration variable](https://github.com/python-rope/rope/blob/master/rope/base/default_config.py#L94) for your project:

`pull_imports_to_top=False`

This should prevent the issue you're having. Please let me know if this works for you.

[2017-01-24 14:00] RonnyPfannschmidt opened #196 "import reordering detangles imports from comments regarding them"
while doing a code move

rope turned something like
[code]

into something like
[code]

[2017-01-24 14:11] RonnyPfannschmidt commented on #195
experimenting with it now, this may also be the cause of #196

[2017-01-24 14:12] RonnyPfannschmidt commented on #195
this one happens even with pull_imports_to_top in config.py

[2017-01-24 14:16] RonnyPfannschmidt opened #197 "add helpfull __repr__"
when coding interactively with rope in ipython or pdb on a fixup script its quite a pain to discover each object in detail

it would be very nice/helpful if the __repr__ was more detailed for paths/modules/anything else that makes sense

[2017-01-24 14:37] soupytwist commented on #195
Thanks for the info. What version of rope are you using?

[2017-01-24 15:23] RonnyPfannschmidt commented on #195
`rope==0.10.3` pip installed

[2017-01-24 15:55] soupytwist commented on #195
Okay, this release is very old compared to HEAD-- pypy is very outdated unfortunately. This fix isn't contained in a release yet.

@mcepl, I think I need your help to update the package in pypy.

[2017-01-24 16:45] RonnyPfannschmidt opened #198 "proposal: release automation via git tags"
**shameless self plug**

im the author of setuptools_scm and using it in a number of my project in combination with travis deplys and git tags in order to push releases to pypi easily and effortlessly

while it doesn't solve surrounding issues like change-log management or announcements,
it can provide a straightforward pipeline of git tag to release on a painless basis

if the maintainers like th

[2017-01-24 16:53] soupytwist commented on #198
I would be open to it. Currently we don't have much of a release plan (though the project hasn't been under active development for a while) but we do need to get on a regular schedule. Improving the release tooling would be a good step forward.

[2017-01-25 08:39] RonnyPfannschmidt opened #199 "importerrors on master"
i installed master to rerun my scripts, and i got

[code]

it seems a mistake in using relative vs absolute imports

[2017-01-25 08:52] soupytwist commented on #199
Something's fishy. Can you check the code that you cloned look correct? All directories have `__init__.py`? How did you fetch the latest version of rope?

[code]

[2017-01-25 09:01] RonnyPfannschmidt commented on #199
pip install from master, then editable pip install from my fork, i do have a local fix, will do a pr in a few seconds

[2017-01-25 09:49] RonnyPfannschmidt commented on #195
this one is not happening on master, thanks 👍

[2017-01-25 09:49] #195 closed

[2017-01-25 09:52] RonnyPfannschmidt commented on #196
this one also does not happen on master 👍

[2017-01-25 09:52] #196 closed

[2017-01-26 12:19] RonnyPfannschmidt opened #202 "move/rename refactoring failures in combination with relative imports"
on a project i'm working on  i prepared a script for a larger code move
while testing it i noticed that it would fail on relative import

the related code changes for the script and ensuring it runs where made in manageiq/integration_tests#4067

the move script is https://github.com/RonnyPfannschmidt/manageiq_integration_tests/blob/3cf58675ecdfe7422d97c97127f62095c742903c/scripts/refactoring/provi

[2017-01-26 13:23] soupytwist commented on #202
Thanks for the detailed report! Let me take a look. This may be related to `pull_imports_to_top=False`.

[2017-01-26 13:30] RonnyPfannschmidt commented on #202
i did not use that setting in that getup

[2017-01-26 13:31] soupytwist commented on #202
Ah, okay. I didn't look closely yet. Then I'm not sure what's the regression, will need to do some digging.

[2017-01-26 13:36] RonnyPfannschmidt commented on #202
please do it as you find time and motivation, we fixed the problem locally by changing our own code and wont face a similar one soon

[2017-01-26 17:09] mcepl commented on #195
What's you id on PyPI? I can fix it here then https://pypi.python.org/pypi?:action=role_form&package_name=rope

[2017-02-16 07:18] DonJayamanne commented on #134
Any idea why this is being done in the library? Why concert crlf to lf, send completely silly and wrong..

[2017-02-16 19:06] soupytwist commented on #134
One reason it probably does this now is that when rope adds new lines, it always adds unix line endings, so assuming unix line endings makes this job a lot easier. I think part of fixing this is going to require detecting and using the correct line endings for a given file (which is reasonable).

For example:
https://github.com/python-rope/rope/blob/c9a52b068321d882447d78ea376f2efd93f085e0/rope/re

[2017-02-17 17:36] soupytwist opened #203 "patchedast.py fails to parse function call with *args and keyword"
I can reproduce with the following:

[code]

[code]

[2017-02-22 14:01] ccordoba12 opened #205 "0.10.4 is not available on PyPi"
I've just heard that 0.10.4 is compatible with both Python 2 and 3. Kudos for that!!

However, that version is not available in PyPi. Why is that?

[2017-02-22 17:50] soupytwist commented on #205
Thanks for the reminder... it's uploaded now, sorry for the delay!

[2017-02-22 17:50] #205 closed

[2017-02-23 05:42] ccordoba12 commented on #205
Thanks for the quick response!

[2017-02-23 07:34] bmihelac commented on #199
I have similar issue. Installed in fresh virtualenv and `rope.base.utils` is missing.

[code]

[2017-02-23 10:46] RonnyPfannschmidt opened #207 "move misses certain import as cases"
while moving a module into a package i ran into a number of legacy import that where missed by rope
the changes i applied manually where like the following

[code]

[2017-02-23 18:03] soupytwist commented on #199
Thank you all. I'll make sure to verify this in the future so this doesn't happen again.

New package (0.10.5) is available in pypi now.

Sorry for the trouble!

[2017-02-23 18:03] #199 closed

[2017-02-23 22:12] RonnyPfannschmidt commented on #199
@soupytwist how about using setuptools and find_pacakges?

[2017-02-23 22:21] soupytwist commented on #199
That's a good suggestion to revisit this.

[2017-02-23 22:22] RonnyPfannschmidt commented on #199
@soupytwist btw, that brings #201 to mind

[2017-02-23 22:22] soupytwist opened #209 "Use setuptools find_packages to list subpackages in setup.py"
This could prevent breakages like in `0.10.4`.

http://code.nabla.net/doc/setuptools/api/setuptools/setuptools.find_packages.html

[2017-03-03 10:43] w0rp commented on #148
@mcepl I was just searching randomly on Google, and I came across this issue. I have a very good reason for why you can't always write your type annotations directly in your code. I have been working with a team on providing type annotations for Django code, which includes Django models. Django models work like so:

[code]

Django implements its ORM by using `__new__` for automatically generating

[2017-05-30 13:31] stratakis opened #211 "Test failures on python2"
When invoking 'python setup.py test' under Python 2.7.13 on a Fedora 25 machine, two tests are failing:

The issues do not appear when invoking the tests with python3.

FAIL: test_time_in_std_mods (ropetest.builtinstest.BuiltinModulesTest)
Traceback (most recent call last):
  File "/home/<snip>/fedora-scm/python-rope/rope-0.10.5/ropetest/builtinstest.py", line 503, in test_time_in_std_mods
    sel

[2017-05-30 21:23] soupytwist commented on #211
Hi,
Can you please post the value of `sys.builtin_module_names`? Rope expects 'time' to be in this list, not sure why it would be different on your distribution.

https://docs.python.org/2/library/sys.html#sys.builtin_module_names

[2017-05-31 11:54] stratakis commented on #211
Our downstream (Fedora) configuration for Python 2 is building the time module as a shared library, so it is not included in sys.builtin_module_names:

` >>> import time`
`  >>> time `
`  <module 'time' from '/usr/lib64/python2.7/lib-dynload/timemodule.so'>`

In Python 3 it's built-in:
` >>> import time`
`  >>> time `
`  <module 'time' (built-in)>`

[2017-06-01 16:58] mcepl commented on #211
We can check for existence of ``time.__file__``, couldn't we? That should exist only when the module is not built-in, shouldn't it?

[2017-06-01 17:11] soupytwist commented on #211
Right now, I think that `stdmods.standard_modules()` is going to include `'timemodule'` instead of time, we assume the module name matches the name of the `.so` in lib-dynload. We could special-case this one perhaps, so that `timemodule.so` is treated as `time`. They aren't actually imported here curently, so reading `module.__file__` might slow down significantly if everything has to be imported.

[2017-06-01 19:18] mcepl commented on #211
I didn't say **read** ``module.__file__``, I said **check** whether that attribute exists.

[2017-06-01 19:21] soupytwist commented on #211
Sorry, I might be missing something. Is it possible to get a reference to the `time` module to check if it has this attribute without importing the module?

[2017-06-02 09:08] mcepl commented on #211
You are not, I am missing part of my brain … yes, so we need to limit ourselves to ``sys.builtin_module_names``.

[2017-06-02 15:07] kaoutharl commented on #163
obviously i am a bit late, but i'm training to run a program (python 2.7) on windows 10 and i get a indentation error. although i'm using the exact same code on ubuntu and it is running perfectly.. does
 same code on ubuntu and it is running perfectly.. how can I fix it??

[2017-06-02 15:39] soupytwist commented on #163
This issue was not windows-specific, so probably not the right forum.

Using spaces instead of tabs might help clear up your problem.

[2017-07-17 18:02] sergeyglazyrindev opened #212 "propose for enhancement"
Hey guys!
I've found one issue while development of my project:
`In [1]: s = b'# -*- coding: utf-8 -*-\nfrom __future__ import unicode_literals\n'

In [2]: start = 12

In [3]: s[start] not in '=:'
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-3-f25611814cc6> in <module>()
---->

[2017-07-24 18:31] soupytwist commented on #212
Sounds like a good idea, yes. I have no idea how widespread a problem this is in the codebase, would be interesting to find out.

[2017-07-25 11:25] sergeyglazyrindev commented on #212
I'll schedule this investigation

[2017-08-23 02:52] xcodeburpx opened #213 "Python 3 - "Getting Started" not in the list"
Recently I got the error when upgrading python-rope in Python 3.6.1:
pip install rope
Collecting rope
  Using cached rope-0.10.6.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-vm9ocb7n/rope/setup.py", line 67, in <module>
        long_description=get_long_description(),

[2017-08-23 04:45] soupytwist commented on #213
My fault, sorry about that. Bad release.

I pushed a new version which seems to fix this for me. Please try with
0.10.7 (in pypi).

Please let me know if this works for you, and sorry for the trouble.

Nick

On Tue, Aug 22, 2017 at 7:52 PM, Szymon Steczek <notifications@github.com>
wrote:

[2017-08-23 05:54] xcodeburpx commented on #213
Yes I installed this successfully.
Thank you for the quick reply!

[2017-09-04 11:39] mcepl commented on #183
system python of RHEL-7 (``python-2.7.5-58.el7.x86_64``). I don't think about anything special. Weird. Still failing with beb3ef9

[2017-09-12 00:31] MJuddBooth commented on #91
Coming across this now as I have the same issue.  I'm willing to put some time into this.  @gwelymernans, could you repost the patch - github seems to be trying to parse it as markdown and I can't figure out how to undo it - as it is, the patch is unusable.   Or, maybe someone can tell me how to view as raw...

[2017-09-12 05:10] mcepl commented on #91
https://gist.github.com/mcepl/34cf6dfc99598573ea36b1c901c325b9 but I think it is still not perfect (those '+' characters are somewhat weird).

[2017-09-12 09:37] RonnyPfannschmidt opened #214 "moving of foo to bar.foo turns import foo to import bar.foo instead of from bar import foo"
while doing a move ofa toplevel package,
i noticed, that we got the impport moved

so

[code]

[2017-09-12 09:40] RonnyPfannschmidt commented on #214
i should note that this is more of a unexpected unconvenience, as the code using the bits is changed correctly

[2017-09-12 17:05] soupytwist commented on #214
Hmm, I think this is WAI, but giving more control over your preference of whether to use normal imports of from imports may be worthwhile. In this case, I think the imported name is rewritten and it remains a normal import-- that is unsurprising to me.

If, however, the original import were `from waz import foo` and it got rewritten to `import waz.bar.foo`, that seems more obviously incorrect.

[2017-09-12 21:20] MJuddBooth commented on #91
Thanks, that should help.  I think the "removing" is just the order of the diff.

[2017-09-12 21:41] soupytwist commented on #91
@MJuddBooth, can you please clarify your issue? In fact, I would prefer for you to create a new bug with steps to reproduce it if possible. This patch is very old and doesn't make sense to me (maybe the removals / additions are backwards).

Can you take a look at #214? Are these the same issue? If so, can we move the discussion to there?

[2017-09-13 01:27] MJuddBooth commented on #91
Mine seems to be pretty close to if not exactly the same as @gwelymernans.  The current code base still shows the same behavior, namely

`from a.b.c import x `
becomes
`import a.b.d `

if x is moved to a.b.d and

`x(foo)`
becomes
`a.b.d.x(foo)`.

I can try to flesh out the original test case.  This is similar to #214, but for that issue there is a pref setting that looks like it may fix it.

[2017-10-05 11:29] abingham opened #215 "Missing support for async/await?"
I'm having trouble making rope work with code that uses async and await. For example, with code like this
[code]

I can run a rename factoring from `some_name` to `some_other_name`.

But if I do something like this like this:
[code]

and try the same refactoring, I get a `RefactoringError`:
[code]

Should rope work with this code? Am I missing something?

(FWIW, I'm doing the refactoring through t

[2017-10-05 17:16] soupytwist commented on #215
Looks like you are right. It's not obvious whether this is related to async or not, although I'm not sure there is support for that either. I can take a look when I get a chance.

[2017-10-05 19:29] abingham commented on #215
I'm happy to help if I can. Can you give me any ideas of where I might start?

[2017-10-08 17:20] mcepl opened #216 "RopeExtractVariable doesn't work for me"
Using rope (0.10.7, ropemode 0.4, python 2.7) I get this situation (sorry, for filing a bug with screenshot, but I think it is the easiest way how to capture the situation here):
![screenshot from 2017-10-06 13-12-20](https://user-images.githubusercontent.com/198999/31319074-47713722-ac5d-11e7-89c4-e9d09b03c490.png)
It seems to me that my selection pretty well covers perfect Python statement. What

[2017-10-09 10:14] emacsway commented on #215
@abingham , try to debug this case using console line interface of rope.

[2017-10-09 10:59] abingham commented on #215
You mean to try doing the refactoring from the REPL or something? I'll give that a shot.

[2017-10-09 11:31] abingham commented on #215
It looks like you're just missing some methods from your AST walkers. The async additions add a few new AST nodes types like `AsyncFunctionDef`, `AsyncWith`, `AsyncFor`, etc., and rope needs to account for those when it scans the AST.

As an experiment, I copied `rope.base.pyobjectsdef._ScopeVisitor._FunctionDef` to `rope.base.pyobjectsdef._ScopeVisitor._AsyncFunctionDef`. When I used this with my

[2017-10-09 13:01] emacsway commented on #215
@abingham , thank you. It's useful information.  Can you, please, write regression test for this case in a branch? Me ( or @sergeyglazyrindev ) would find a time for the fix.

[2017-10-09 13:39] abingham commented on #215
@emacsway [Here you go](https://github.com/python-rope/rope/pull/217).

[2017-10-09 19:22] emacsway commented on #215
@abingham , thank you.

[2017-10-18 13:47] abingham opened #219 "History support for multi-project refactorings?"
Is there any support for doing undo/redo for multi-project refactorings? If not, are there plans for this?

[2017-10-18 16:05] soupytwist commented on #219
I don't think this support exists and is not planned. What is your use case?

[2017-10-18 19:42] abingham commented on #219
I'm writing a [HTTP server that exposes rope functionality](https://github.com/abingham/traad), and I'd like to let users add cross-projects to do multi-project refactorings. It offers undo/redo support for refactorings, and it seems like it would be odd if undo only worked for the root project.

I might be able to manage the multi-project un/redo support myself, but I'd like to avoid the work if

[2017-10-18 19:48] sergeyglazyrindev commented on #219
Oh, I like this idea, I'd like to join this project :)

[2017-10-18 21:17] abingham commented on #219
@sergeyglazyrindev Any help is appreciated! I'm in the middle of making some substantial changes, so it's in a weird state. But hopefully I'll have it back to "normal" soon.

[2017-10-19 00:06] emacsway commented on #219
@abingham , https://github.com/python-rope/rope/blob/master/rope/base/history.py

[2017-10-19 00:06] emacsway commented on #219
@abingham , what do you mean "for multi-project"?

[2017-10-19 05:05] abingham commented on #219
@emacsway https://github.com/python-rope/rope/blob/master/rope/refactor/multiproject.py

[2017-10-19 11:57] mcepl commented on #219
I like the idea, but wouldn't it be better to support [Language Server Protocol](https://en.wikipedia.org/wiki/Language_Server_Protocol)? Would it make sense? I believe that creativity around protocols is almost always The Wrong Idea™.

[2017-10-19 12:24] emacsway commented on #219
@abingham , as I see, there is a [Composite pattern](https://en.wikipedia.org/wiki/Composite_pattern), which simple delegates calls to the Leaves, see:
- https://github.com/python-rope/rope/blob/master/rope/refactor/multiproject.py#L44
- https://github.com/python-rope/rope/blob/master/rope/refactor/multiproject.py#L52

There is only one little problem, the non-polymorphic call for the .do() method

[2017-10-19 12:49] abingham commented on #219
Maybe so. I started traad because nothing (including ropemacs, since I'm primarily an emacs user) worked for what I needed, and I only really do enough work to make it work for me. If someone wants to put in the effort to create a better refactoring server of some sort, that would be fine with me. FWIW, I definitely feel that an HTTP language server is a better model than pymacs/ropemacs.

[2017-10-19 14:07] mcepl commented on #219
So, it won't be you, do I understand correctly?

Just that you could save yourself work on the Emacs-side of the things (and there are even [rumours](https://www.reddit.com/r/emacs/comments/696pv1/rms_supports_language_server_protocol_integration/) Emacs will have support for LSP natively, and [there are already LSP clients for Emacs](https://github.com/emacs-lsp/lsp-mode) in existence).

Also, I

[2017-10-19 15:08] abingham commented on #219
Currently that's correct. I barely have the bandwidth to keep traad hobbling along.

[2017-10-21 14:32] nonamedotc opened #220 "python2 test failures on Fedora"
Possibly related to #211 .

I am seeing test failures when I try to build rope-0.10.7 on Fedora python2. I have not tried with python 3.

[code]

[2017-10-22 23:54] dickreuter opened #222 "Pip has newer version than github"
How is it possible that when I install rope from pip I have a later version number than when I download the latest source code from github?

[2017-10-23 23:59] soupytwist commented on #220
Ah, it does indeed look related. I'll revisit this...

[2017-11-04 02:49] Epikem opened #223 "Restructuring fails with if statement"
I'm trying to substitute a variable with restructuring but it failed with following error.

[dddd.py]
[code]

[mod1.py] Try 1
[code]

[mod1.py] Try 2
[code]

[mod1.py] Try 3
[code]

Try 1 succeeded but try 2 and 3 fails with following error each:
Try 2 : rope.refactor.patchedast.MismatchedTokenError: Token <else> at (7, 6) cannot be matched
Try 3 : rope.refactor.patchedast.MismatchedTokenError: To

[2017-11-06 17:44] soupytwist commented on #223
Thank you for reporting and including good tests cases to reproduce it.

[2017-11-08 00:46] soupytwist commented on #222
Fixed in 7108c52c6cf00b6fe68e5f94c3bbabcca69183a8

I must have missed this file when bumping the version last time, so the change made it to pypi but not here. Thanks for raising the issue, it is fixed now. The code in pypi and on master are identical.

[2017-11-08 00:46] #222 closed

[2017-11-08 00:56] soupytwist commented on #220
Closing as duplicate of #211, will push a fix there.

[2017-11-08 00:56] #220 closed

[2017-11-08 01:15] soupytwist commented on #211
Hi, can you test #225 and confirm this fixes your issue?

Thank you

[2017-11-08 06:15] mcepl commented on #211
@soupytwist  https://github.com/python-rope/rope/pull/225#issuecomment-342721329

[2017-11-08 12:34] stratakis commented on #211
I can confirm that #225  fixes the issue on Fedora and the tests pass successfully.

[2017-11-08 22:29] soupytwist commented on #211
Thank you both for testing!

[2017-11-08 22:30] #211 closed

[2017-11-14 15:03] Dominik-K opened #226 "Support f"literal {string} interpolation" (PEP-498, Python 3.6)"
Seems like `rope` does not yet support rename variables in [literal string interpolations (PEP-498)](https://www.python.org/dev/peps/pep-0498/)  (included since Python 3.6), e.g. renaming `var` in `f"this {var} is interpolated"`. Tested it with [VSCode's Python extension](https://github.com/Microsoft/vscode-python) which uses `rope` underneaths.

Simple test: Rename `abc`

[code]

[2017-11-14 22:07] soupytwist commented on #226
You're right, this is not supported. Support for refactoring python3 code is incomplete.

[2017-11-17 13:46] #203 closed

[2017-12-02 20:08] buildersbrewery opened #228 "pycodestyle warnings on default config"
[code]

[2017-12-21 04:19] davidruffner opened #229 "Rename of module does not handle import aliases correctly"
I am using rope to rename modules in my project and came across a problem with how it handles aliases. Here is a minimal example that shows this behavior. In this case, `mod2.py` imports `mod1.py` and so should import `mod1.py` with a new name when `mod1.py`'s name is changed. However, in this case no changes are actually made in `mod2.py`. I am using version 0.10.7.

Here is my example:
[code]
I

[2018-01-03 18:54] soupytwist commented on #229
Hmm, I can reproduce it. Works as expected without the alias. Thanks for reporting, I'll take a closer look.

[2018-01-04 14:16] davidruffner commented on #229
Thanks for your help! Your fix (#230) is working for me.

[2018-01-04 16:42] #229 closed

[2018-01-04 16:42] soupytwist commented on #229
Thanks for checking!

[2018-01-05 12:57] williamjamir opened #231 "Docs for Moving class"
Hi,
I want to use to move a `class foo()` from module A to B

I was looking at the source code and I found that the MoveGlobal would be the way to do this.

Currently, I have this structure

[code]

With the content of the file A as:
[code]

With the following script, I can create the `MoveGlobal` object and move the Class
[code]

So my question is:

- Is this the correct approach?
- Using the off

[2018-01-05 18:35] soupytwist commented on #231
That looks pretty much as expected, yes. The offset is the only way that rope exposes to do this-- mostly this is used by IDEs such as in [ropemacs](https://github.com/python-rope/ropemacs) or [rope-vim](https://github.com/python-rope/ropevim).

[2018-01-08 15:46] rwst opened #232 "rename ignores code in locally defined functions"
Renaming a class name worked only inside functions that are not nested.

[2018-01-08 23:35] soupytwist commented on #232
Hmm, interesting. It's likely that rope isn't be sure that the references are correct. Do you have some sample code to reproduce it?

Thanks

[2018-01-09 06:53] rwst commented on #232
Ah no, I seem to have other problems using rope, and misinterpreted so this is invalid. Let me investigate.

[2018-01-09 06:53] #232 closed

[2018-01-09 15:37] rwst commented on #232
I found out why a specific rename only worked in the original file: I'm a Python noob and didn't give the exact project root as argument to `Project` so the imports in other files were ignored.

[2018-01-09 15:46] rwst opened #233 "provide Cython support"
My actual problem is that rope can't work with Cython files so I get an error when giving an offset inside such a file.

[2018-01-10 08:19] rwst commented on #233
I changed the description by removing nonsense.

[2018-01-10 09:24] jdemeyer commented on #233
Duplicate of #123

[2018-01-10 13:43] #233 closed

[2018-01-16 20:12] williamjamir commented on #231
So I mainly made this question because I want to move class/method around my project.

This project is substantially big, approximately 7,600 files  😬  (actually it's a project with subprojects inside of it )

My concern is that this library (rope) is taking too much time to process the changes and I was thinking that I was doing something completely wrong.

Just for a test, I moved a class named

[2018-01-29 05:00] evandrocoan opened #234 "you can even tell rope not to create .ropeproject folder"
https://github.com/python-rope/rope/blob/master/docs/overview.rst#id1

How can I tell to `rope` to not create the `.ropeproject` folder everywhere, every time?

I use rope as a plugin on the https://github.com/palantir/python-language-server, currently it is instantiated like this: https://github.com/palantir/python-language-server/blob/099eb3691b3b90569f473ed920bb6045b06ff561/pyls/workspace.py#L8

[2018-01-29 05:31] evandrocoan opened #235 "AttributeError: 'NoProject' object has no attribute 'address'"
I am trying to fix:

1. https://github.com/python-rope/rope/issues/234 you can even tell rope not to create .ropeproject folder
1. https://github.com/palantir/python-language-server/issues/230 Maybe we should prevent creating a .ropeproject/config.py

By using `get_no_project()` instead of creating a `Project` object. But while doing that, I this error popped some time on my console:
[code]

[2018-01-29 23:06] soupytwist commented on #234
Doesn't the documentation you included for the `Project` constructor tell this?

[code]

[2018-03-19 00:50] enomado opened #237 "investigate better approach to patchedast"
Just to summarize some possible alternatives:

- [RedBaron](https://github.com/PyCQA/redbaron)
- [astroid](https://github.com/PyCQA/astroid)
- [parso](https://github.com/davidhalter/parso)

[2018-03-19 17:17] soupytwist commented on #237
I'm familiar with these. What's the problem you are trying to resolve that makes any of these better?

[2018-03-20 01:11] enomado commented on #237
Current architecture of patchedast is limited and can't parse all code. It can be proved by traversing site-packages and applying it to files. Or just write some rich function call or multiline string with nested bracket to feel that the task requires full parsing approach instead of ad-hoc lookahead and manual assumptions about a next node.

[2018-03-20 02:59] emacsway commented on #237
How patchedast is related to parsing? Do you understand what parsing is about? Rope uses python's native parser https://docs.python.org/3/library/parser.html

What exactly limitation on architecture level do you mean?

I understand some advantages of astroid, but they mainly are not related to parsing.

[2018-03-20 18:56] enomado commented on #237
Well okay. What do you think patchedast do ? It `parses` python code with little help of parsed ast because python's parser (surprisingly) cant parse pythons code with column resolution.

I mean that its exactly not a parser, but should be. Currently it tries to assume `pos` of nodes ad-hoc, without any 'parsing things' like stacks, automata (sorry for such silly terms, I guess you got what I mean

[2018-03-20 20:11] emacsway commented on #237
- Can you give me any test case to reproduce any problem of python's native parser?

[2018-03-20 20:41] enomado commented on #237
Existence of https://github.com/python-rope/rope/blob/master/rope/refactor/patchedast.py is a good proof I guess. In other case I'll very happy.

[2018-03-20 20:46] emacsway commented on #237
At what line of the file do you see a good proof?

[2018-03-20 20:56] enomado commented on #237
Whole file, purpose of the file. Stop trolling please. If you are sure the problem is 100% gone since 2012 and python parser have good column resolution so okay then we can close the ticket...

[2018-03-20 20:56] emacsway commented on #237
Can you call me with Skype to discuss this? My skypename is industrialnet.

[2018-03-21 15:15] emacsway commented on #237
yes, astroid solves some issues of rope, but its implementation requires a lot of works.

[2018-03-31 22:21] alphaCTzo7G opened #238 "Rope doesnt seem to understand fixture names"
I am using the rope included in `python-mode`. While refactoring a fixture name, I noticed that it doesnt see that it doesnt understand fixture names, atlease for the rope library included in `python-mode`: https://github.com/python-mode/python-mode

Does the current rope version understand fixture names, and can it correctly rename fixture names?

[2018-04-20 08:50] mcepl commented on #183
Not failing with python-2.7.5-68.el7.x86_64 and 0d79dddb. Thank you.

[2018-04-20 08:50] #183 closed

[2018-05-02 08:30] abingham opened #239 "How to actually perform AutoImport"
The auto-import feature seems to have plenty of support for figuring out what module to import in its `import_assist()`, `get_modules()`, etc. How do I take those results and actually apply them to a source file? Most of the refactorings, for example, return a `ChangeSet` which I can then perform with `Project.do()`, but I can't find an equivalent for auto-import. Am I just missing something, or i

[2018-05-02 16:56] soupytwist commented on #239
I only see this implemented for editor support (ropevim/ropemacs) see [ropemode](https://github.com/python-rope/ropemode/blob/8b86f9f542685f5b53449215047b83237aaa14b8/ropemode/interface.py#L602).

There's no rope refactoring action for this, it seems.

[2018-05-03 08:25] abingham commented on #239
@aligrudi @gwelymernans Do either of you have any insight into this?

[2018-05-03 16:36] soupytwist commented on #239
Auto-import seems more obviously useful interactively, so I assume that's why it doesn't exist with a refactoring interface currently. If you want to add something lightweight to do this under rope/refactor that sounds sensible to me.

I'm curious though, what is your workflow that need this for?

[2018-05-04 19:49] abingham commented on #239
I'm working on the refactoring server [traad](http://github.com/abingham/traad), trying to add auto-import support. I was working with PyCharm recently and really liked its ability to auto-magically add imports, so I wanted to add it to traad (so that I could have it in emacs).

I agree that auto-import is interactive insofar as users need to request (and possibly confirm) it, but I don't see that

[2018-05-05 06:33] abingham commented on #239
I've finally had time to look at the code in earnest, and I see now what you mean by interactive. Auto-import is going to generate a number of candidates, and the user will need to select one. After that, it's really just a question of inserting a new line into a file, something traad client code should be able to do trivially. So I'm going to close this.

I do see some deficiencies with the exist

[2018-05-05 06:33] #239 closed

[2018-05-07 00:52] AliGhahraei commented on #239
Ll

On Sat, May 5, 2018, 01:33 Austin Bingham <notifications@github.com> wrote:

--

Ali Ghahraei Figueroa

Software Developer at Spectrum Effect.

[2018-05-11 17:34] sblondon opened #241 "Obsolete documentation about py3 ?"
In ```contributing.rst```, there is an advice to checkout a repository for python 3 contribution which is hosted in bitbucket.org. However, there are no commit since 2012 in this bitbucket repository and the README file of rope (hosted in github) displays it's a WIP.

Perhaps the 'Getting Ready For Python 3.0' section should be removed? Or updated to something like:
[code]

I can do a PR if you wa

[2018-05-11 20:18] sblondon commented on #213
I think it could be closed, isn't it?

[2018-05-11 20:18] #213 closed

[2018-05-25 20:34] glyph opened #242 "rope-auto-import prefers private implementation modules over public interfaces, should inspect __all__ "moves""
A common pattern in Python libraries is to have

[code]

[code]

to define an explicit public API.  Rope's auto-import functionality will prefer to import `foo._implementation.MyClass` and will not see `foo.MyClass` at all.

[2018-06-12 13:11] dwSun opened #243 "modify default config.py"
Can I have a modified version of default config.py for all my projects? I don't want to copy it every time I start a new project.

[2018-06-15 20:54] soupytwist commented on #243
I believe this isn't possible at the moment. If you can contribute this, we would welcome a PR. It could read a simple .roperc file in the user's home dir and override the default_config, for instance.

[2018-06-18 23:25] bkad opened #244 "ImportOrganizer incorrectly determines unbound names in class contexts that inherit from a super class with attributes that have the same name"
To repro have these files:

main.py
[code]

refactor_this.py
[code]

foo.py
[code]

Then run `main.py`. It makes the following suggestion:
[code]

Which would cause running the file to fail with a NameError. It seems like unbound name detection relies on the Class scope which includes all attributes set by the super class which is the wrong set of names to be used by the ImportOrganizer.

[2018-06-25 17:07] soupytwist commented on #238
Sorry, I don't know what you mean by this. What is an example of a fixture name that is not correctly renamed? What happens vs what is expected?

[2018-06-25 17:59] soupytwist commented on #244
Thanks for reporting. This might be a bit of a tricky one to track down.

[2018-06-26 22:35] nonamedotc opened #247 "AssertionError: completion <isAlive> in scope 'attribute' not proposed, available names: [] (type_hinting_test:34)"
Some of the tests fail when built with python 3.7 on Fedora.

[code]

Here is the complete build.log - https://kojipkgs.fedoraproject.org//work/tasks/3559/27753559/build.log

Pointers to fix these would be greatly appreciated. Thanks!

[2018-07-04 22:08] shaolo1 opened #248 "get_definition_location() goes to wrong instance"
[code]

[2018-07-06 21:29] d3r3kk opened #249 "Rope fails to rename variable identifier within a generator expression"
Issue found with renaming a variable within a generator expression. Exception thrown is:

**RefactoringError: Rename refactoring should be performed on resolvable python identifiers.**

**Python version:** 3.6.6
**OS**: Ubuntu 18.04
**Rope Version**: 0.10.7

## Reproduction Steps
1. Create a folder `project`
2. `cd project`
3. Create a python file called issue.py and copy the following code into i

[2018-07-12 06:55] abingham commented on #202
I'm seeing the same error when I run `MoveModule`. The refactoring takes relative imports like this:
[code]
to:
[code]

i.e. it seems to neglect to put a space between `from` and `package`. I see this in the exception produced when I try to perform the operation:
[code]

[2018-07-13 21:09] shaolo1 commented on #248
It is an odd case, but p = 'foo''bar' is valid python3 making p== 'foobar'.  This actually works with get_definition_location(), so it looks like its just the special case where the second string is empty that breaks things.

[2018-07-13 21:32] soupytwist commented on #248
Very weird... sorry for the non-response, I don't have a good idea what the fix for this will entail. If you have the time to look into it, it would be appreciated, otherwise I will revisit when I have more time.

[2018-07-13 21:53] shaolo1 commented on #248
I "fixed" the extra quotes in my code, so get_definition_location() is working again for me, but I wanted to make sure the issue was logged in case someone else hit it.

[2018-07-26 22:45] rami6 opened #250 "critical severity security vulnerability detected in rope <= 0.10.7"
I got an email from GitHub, it says
"Known critical severity security vulnerability detected in rope <= 0.10.7 defined in requirements.txt."

"rope==0.10.7" is in my requirements.txt.

What should I do about this?

[2018-07-26 22:49] soupytwist commented on #250
Hmm, the only thing I could think is #107, but that's not something I would consider "critical severity".

Is these any more detail in the email?

[2018-07-27 00:13] rami6 commented on #250
Thank you for replying quickly!
No, it isn't. Whole message is:

"We found a potential security vulnerability in a repository for which you have been granted security alert access.
<link to my repository>
Known critical severity security vulnerability detected in rope <= 0.10.7 defined in requirements.txt."

[2018-07-27 02:18] jonovate commented on #250
It looks to https://nvd.nist.gov/vuln/detail/CVE-2014-3539

[2018-07-29 21:15] rami6 commented on #250
@jonovate Thank you!
Then, I will leave my requirements.txt as it is.

[2018-08-03 17:47] apnewberry commented on #105
Hi, I'm a fan of rope, but am concerned about using it due to this issue. I'm wondering if you might be willing to share your current thinking? Thanks.

In case it's helpful, Debian seems to have a limited patch.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=777525
https://sources.debian.org/src/rope/0.10.3-1/debian/patches/CVE-2014-3539.patch/

[2018-08-03 17:51] soupytwist commented on #105
Hi, I know this has been sitting for far too long. I am working on the fix for this issue.

[2018-08-05 13:26] bvanrijn commented on #250
What should be done in order to stay secure?

[2018-08-06 16:41] soupytwist commented on #250
Yes, that will disable the functionality that has this vulnerability. I have a fix for this that I am wrapping up now and hope to get merged within the next few days.

[2018-08-06 21:54] soupytwist commented on #105
I have a proposed fix in #251. I'm not sure who will review it who is very familiar with this codebase (or if there is such a person anymore). This does need to be resolved, so I will get at least another competent pair of eyes on it. Please anyone take a look as well if you are interested.

[2018-08-07 11:30] mcepl commented on #105
Given the authorship of last commits to ``rope`` I would say that the most competent person to know this codebase is best found by you in the nearest mirror ;).

[2018-08-08 18:10] #105 closed

[2018-08-08 21:10] soupytwist commented on #250
Hi, this is finally resolved in #251 and released in rope 0.11.0, which I have just pushed to pip repos.

Please upgrade to 0.11.0.

[2018-08-08 21:10] #250 closed

[2018-08-14 21:45] FlingeR opened #252 "Add a CHANGELOG"
Hi folks,
I would be good to know the changes between the new versions of rope.
Could you make a CHANGELOG file or specify the changes in the releases in github?
It would ease the work of people working in some projects.

Cheers.
Elias.

[2018-08-15 18:40] soupytwist commented on #252
Thank for the input. At the next release, I will be sure to include a changelog + release notes where possible.

For 0.11.0, the only major change is to fix CVE-2014-3539 (#105).

[2018-08-15 18:40] #252 closed

[2018-08-15 20:40] FlingeR commented on #252
Thanks to you for understanding my petition.
Cheers.

[2018-08-16 01:11] mawright opened #253 "Refactor-renames often fail iff numpydoc is installed"
This issue has been noticed by some users of visual studio code which uses rope for its refactoring (eg https://github.com/Microsoft/vscode-python/issues/500).

With this example py file,
[code]
Trying to refactor `b` gives a lengthy error stacktrace that exits rope at this line: https://github.com/python-rope/rope/blob/18a204c65109b50083d57f611e7090d3cfe7b761/rope/base/oi/type_hinting/providers/n

[2018-08-17 17:38] soupytwist commented on #253
Thanks for reporting. It's a weird one. Thanks for digging into it already! I'll take a look as well.

[2018-08-17 17:47] #253 closed

[2018-08-17 17:49] soupytwist commented on #253
@mawright I pushed a fix for this issue in 1e75468. Would you be able to verify the fix before I make a release? Thanks again!

[2018-08-17 19:36] mawright commented on #253
Yep, seems to have fixed it for me!

[2018-08-17 22:46] mawright commented on #253
I wonder if it is worth changing the return statement in your patch from `return None` to `return []` to be consistent with https://github.com/python-rope/rope/blob/1e75468d357e42c58df8f237ed01f7efd7d167f1/rope/base/oi/type_hinting/providers/numpydocstrings.py#L34 and https://github.com/python-rope/rope/blob/1e75468d357e42c58df8f237ed01f7efd7d167f1/rope/base/oi/type_hinting/providers/numpydocstrin

[2018-08-17 22:49] soupytwist commented on #253
Yes, that's what I meant to do... thanks for being observant!

[2018-08-18 15:07] azatoth opened #254 "rope fails to parse PEP 526 annotations"
[PEP 526](https://www.python.org/dev/peps/pep-0526/) variable annotations is available in python 3.6 and starts to get used in the wild, for example [Pydantic](https://github.com/samuelcolvin/pydantic) uses it as a core feature.

I'm using rope via [python-model](https://github.com/python-mode/python-mode) and off course made sure it's updated to latest.

[code]

Example code:

[code]

[2018-08-20 16:28] soupytwist commented on #254
Thank you for the details. Rope hasn't yet had any support for 3.5+ including PEP-0484, and supporting this in rope is no small task.

Your report looks like rope is executing in a python<3.6 environment, however. Rope internally uses `ast.compile`, and this is failing with a `SyntaxError`. I believe if you were able to run rope in 3.6+ it may not fail outright, but would miss the type inference o

[2018-08-20 16:32] azatoth commented on #254
@soupytwist Ah, you are right, I'm actually running rope under python3.5, I wonder why that fact never clicked in my head

[2018-10-15 14:59] danielnowakowski opened #256 "Rename result"
Is there any way to find out what changes are performed by rename? It should be nice to list it like:

file1, line1, col1
file2, line2, col2

[2018-10-15 17:58] soupytwist commented on #256
Sort of... you can work it out from the `rope.base.change.ChangeSet`, each `ChangeContents` has a `resource` and `old_contents`/`new_contents`. From that, it shouldn't be too difficult to find which lines would be modified in a file.

[2018-10-17 14:02] #256 closed

[2018-10-17 14:13] danielnowakowski opened #257 "Rope rename"
I've observed that rename runs very slow when it is intended to rename frequent symbol. Please look at the example below:

[code]

and I want to rename name of the function `abc`.

In my project, I have about 150 files where `abc` appears somehow, but only text in current file should be renamed. Other occurrences are not adequate to be renamed.

If I change manually name of the function to `test_f

[2018-11-08 19:36] soupytwist commented on #226
Hm, sorry I missed your comment. Rope does use `ast` to some extent, I don't know if there is any historical reason why it's not used move heavily.

[2018-11-30 05:14] jrood-nrel opened #258 "Unicode character in README.rst causes failures on certain systems"
Can the unicode character in `README.rst` in Matěj Cepl be removed? It causes a failure on certain systems during install because something tries to parse this file.

[2018-12-06 13:54] danhper commented on #253
Is there any chance we could get a release with this fix please?
Thank you very much!

[2018-12-10 21:14] soupytwist commented on #257
I'm afraid this is due to uncertainty in rope knowing which symbols refer to the `abc` you are renaming. IIRC, it will skip files that don't contain the symbol being renamed, which is why it is much faster in your second case-- for the first, however, the library is not able to know for sure that the `abc` in that file is not the same without analyzing it.

There *is* work that can be done to impr

[2018-12-10 21:14] #257 closed

[2018-12-10 21:16] #258 closed

[2019-01-07 16:55] soupytwist commented on #254
Great, Sergey! Good to see you here again.

[2019-01-16 16:18] mcepl commented on #247
Of course, the same here on openSUSE.

[2019-02-08 16:34] rbclark opened #260 "Rope fails to run `analyze_modules` on some projects"
I am having trouble running `analyze_modules` on my project. For some reason I am having a lot of trouble reproducing the error in an environment outside of my whole project. Basically what is happening is the following:

[code]

It seems that sometimes `pyname` in `pep0484_type_comments.py` is of a type that doesn't have an attributes object on it. I tried wrapping it in

[code]

And it seemed to

[2019-02-08 17:26] soupytwist commented on #260
Thanks for the detailed report and workaround!

[2019-02-11 10:53] mcepl commented on #247
To my shame, still alive in 0.12.0.

[2019-02-11 11:04] mcepl commented on #215
@abingham So, what is the status of this bug in 0.12.0?

[2019-02-11 11:19] mcepl commented on #238
@alphaCTzo7G Are we talking about [pytest fixtures](https://docs.pytest.org/en/latest/fixture.html) here?

[2019-02-11 11:22] mcepl commented on #226
For history I would ask @aligrudi , but generally I am all for using as much standard library as possible.

[2019-02-11 11:30] mcepl commented on #198
Well, we try to have python-rope with as few dependencies outside of stdlib as possible. And (putting on my openSUSE Python maintainer hat) ``setuptools_scm`` has rather unpleasant dependency tree.

[2019-02-11 11:41] abingham commented on #215
@mcepl I haven't done anything with this beyond the PRs I submitted. However, on quick inspection it looks like this issue can be closed. The tests in 0.12.0 include a number of renaming tests involving async keywords, and none of them seem to be failing.

So as far as I'm concerned this can be closed; I leave it up to you to decide.

[2019-02-11 11:43] mcepl commented on #215
Thank you.

[2019-02-11 11:43] #215 closed

[2019-02-11 12:02] RonnyPfannschmidt commented on #198
@mcepl care to elaborate - im open to sorting those details out

[2019-02-11 12:36] mcepl commented on #198
It is completely off-topic in this bug. openSUSE is very much devoted to the idea of https://reproducible-builds.org, which in the end means that we cannot have any BuildRequirements cycles and thus large dependency trees are problem. I spent quite some time making sure that Python 3.7 builds in our system and I spent a lot of time with resolving such issues (many packages have some line in ``requ

[2019-02-11 17:43] orn688 commented on #226
@soupytwist @mcepl Ok, thanks! I'll go ahead and submit a PR with my changes just in case.

[2019-02-12 09:47] mcepl opened #262 "Relicense rope under LGPL"
Given https://github.com/Microsoft/vscode-python/issues/3867 I would like to consider relicensing whole ``rope`` project under another license more accessible to editors/IDE desiring to use rope.

It is not only attempt to butter VS Code developers up, but truly plain GPL doesn't make sense much for the project, which is essentially a library. Despite what [some others say](https://www.gnu.org/phi

[2019-02-12 09:51] jorgenschaefer commented on #262
You hereby have my permission to relicense my contributions to the Rope library under the LGPL3+ license as published by the Free Software Foundation.

[2019-02-12 10:05] orestis commented on #262
+1

[2019-02-12 10:06] dsyzling commented on #262
+1

On Tue, 12 Feb 2019 at 09:48, Matěj Cepl <notifications@github.com> wrote:

--
Regards
Darren

[2019-02-12 10:15] piranha commented on #262
+1

[2019-02-12 10:27] Ferada commented on #262
+1

[2019-02-12 11:25] tzing commented on #262
+1

[2019-02-12 11:48] stpierre commented on #262
+1

[2019-02-12 16:02] enomado commented on #262
+1

[2019-02-12 16:08] sergeyglazyrindev commented on #262
+1

[2019-02-12 17:19] hayd commented on #262
+1

[2019-02-12 17:23] gwelymernans commented on #262
+1

[2019-02-12 19:38] soupytwist commented on #262
+1

[2019-02-20 21:08] mcepl commented on #262
Hi, @abingham @aligrudi @brendanator @Digenis @emacsway @MarekLew  , could we get some reaction from you? I would really love to see your comment on this as some of you are major contributors to rope and without your consent we probably cannot go ahead with the relicensing.

[2019-02-24 00:09] emacsway commented on #262
+1

[2019-02-28 12:01] mcepl commented on #262
@emacsway thank you

[2019-03-01 15:51] hpapaxen opened #264 "Incorrect parent for BuiltinFunction that belongs to a builtin type"
Looks like there's an issue when trying to obtain a function's parent of a builtin type. From what I've seen, we're getting back the PyModule. Shouldn't we be getting the builtin type instead?

e.g.if a variable `foo` is of type `base.builtins.Dict`, then:

[code]

I can submit a PR with what _I think_ would fix this issue.

[2019-03-01 15:52] hpapaxen commented on #264
I can submit a PR with what _I think_ would fix this issue.

[2019-03-08 22:30] #264 closed

[2019-03-08 22:32] soupytwist commented on #262
@hpapaxen

[2019-03-08 23:12] mcepl commented on #262
@abingham @aligrudi @brendanator @Digenis @MarekLew @hpapaxen OK, this is the last call. Unless I hear from you before Monday, March 11, 23:59:59 CET (midnight between Monday and Tuesday) I will assume you agree with the change, and I will release new version of rope under LGPL.

[2019-03-09 11:28] hpapaxen commented on #262
+1 from me

[2019-03-10 16:37] mcepl commented on #262
@hpapaxen thank you.

[2019-03-19 16:34] #262 closed

[2019-03-20 08:02] MarekLew commented on #262
+1 sory for slow reaction

[2019-03-29 16:45] phoenixsampras commented on #249
Hello and help, any workaround for this issue?

[2019-04-02 23:07] abadger opened #270 "rope sometimes fails to rename imports with "as""
I've found a minimal, reliable reproducer for a problem renaming with imports that have "as".

First, here's the code I'm using to test:
[code]

Second, here's a test data file that works as expected:
[code]

If you drop them into a directory together, and run rope_test.py, you get the expected renames:
[code]

But, if I comment out all the imports except for the problematic one like this:
[code]

[2019-04-02 23:27] soupytwist commented on #249
Sorry, I haven't had much time to look into these issues further. If anyone else here is able to pick it up, that would be appreciated.

[2019-04-02 23:27] soupytwist commented on #270
Interesting, thanks for the detailed report. Will try to hunt this down when I have a chance.

[2019-04-11 18:17] #226 closed

[2019-04-16 12:56] Digenis commented on #262
I agree

[2019-05-09 09:01] brendanator commented on #262
+1

[2019-05-17 09:19] danielnowakowski opened #271 "Rename issue"
I created a simple project `project` with two files:
- test1.py
[code]

- test2.py
[code]

I am renaming `some_method` in the following way:
[code]

`changeset.changes` contains only one element with a change in test1.py, while I expect that usage in test2.py should be updated too.

The issue does not occur if I use relative import in test2.py, like:
[code]

Then, `changeset.changes`  contains two

[2019-05-17 10:01] #271 closed

[2019-09-24 11:02] tsoernes opened #272 "BadIdentifierError: Not a resolvable python identifier selected."
Python 3.7
pypackage-0.2.6
rope-0.14.0

`argtools.py`:
[code]

[code]

[code]

[2019-10-04 18:02] wheelsandmetal commented on #249
Any news on this?

[2019-10-05 06:48] marv commented on #247
Any update on this? I'm still seeing the same test failures on Exherbo with rope 0.14.0

[2019-10-06 12:21] iogf opened #273 "Multiple Project instances."
I'm developing a plugin for this IDE https://github.com/vyapp/vy
Is it safe to have multiple Project class instances for the same/different projects?

[2019-10-06 14:04] iogf opened #274 "Detecting module/package name changes."
It would be interesting to have Change.old_module_path/Change.old_package_path attributes when module/package are renamed.

It is awkward to detect when modules had their names changed under a general case.

[2019-10-07 16:19] soupytwist commented on #273
Because there is caching done on resources as they are read, it may not be safe to have multiple projects covering the same files. Projects for separate directories is fine, of course.

[2019-10-07 16:23] soupytwist commented on #274
I'm not sure I understand. As it stands now, after the changes are applied, the `Change` instances are not meaningful anymore. Before applying the changes, you can find the old and new path at `MoveResource.resource.real_path` and `MoveResource.new_resource.real_path`

[2019-10-08 01:24] yoshihikoueno opened #275 "Syntax error at "nonlocal" keyword"
If a code contains "nonlocal" statement, then rope will complain that it's invalid syntax.
I know that rope offers "partial python3 support", so I understand this phenomenon.

I wrote this just to let the developers know about it.

[2019-10-12 12:51] iogf commented on #274
I figured that out. Thank you.

[2019-10-12 12:51] #274 closed

[2019-10-13 19:42] #273 closed

[2019-11-20 16:59] euribates opened #276 "Add a section for refactoring"
With at least Bicycle Repairing Man, Bowler and Rope

[2019-11-20 17:01] #276 closed

[2019-11-22 00:02] jonringer opened #277 "Add support for python3.8"
Trying to run the test suite in python3.8 results in the following errors:

<details> <summary> Test failures </summary>

[code]

</details>

[2019-12-01 00:05] iogf opened #279 "Error: module 'rope.base.ast' has no attribute Str"
That exception occurs when it try to rename any class in :

https://github.com/vyapp/vy/blob/master/vyapp/areavi.py

The plugin for vy is:

https://github.com/vyapp/vy/blob/master/vyapp/plugins/rope.py

The way of how it works consists of passing one of the offsets of the object name thats gonna be renamed altogether with the new name as it is explained in the docs.

However it seem to work for sm

[2019-12-18 15:49] mcepl opened #281 "Compatibility with 2.6? Really?"
I don’t think it is hasty to declare Python 2.6 unsupported (I am not saying anything yet about now almost dead 2.7).

[2019-12-18 19:57] ezequielp opened #282 "Rope fails to parse PEP-448 unpacking generalization"
Some "unpacking generalizations" defined on [PEP-448](https://www.python.org/dev/peps/pep-0448/)

This is with `rope-0.14.0`and python `3.6.3`. Sorry in advance if I'm spamming the issues section with a resolved issue. I couldn't find a similar report.

e.g. trying to refactor:

[code]
Gives the error

[code]

[2019-12-19 10:23] joystein commented on #231
Here is a variation on the above, where a finder is used to find the class definition that in turn is used to get the offset. Its enclosed in a pyinvoke task for easy testing.

[code]

[2019-12-19 14:54] mcepl commented on #231
@williamjamir @joystein What is the action item from this ticket? Is there something particular which can be done for rope? Any pull request?

[2019-12-19 15:54] joystein commented on #231
@mcepl, I guess the title, albeit a little short, indicates what action is desired; adding documentation for how a class is moved. I found the comments by @williamjamir helful, but wanted a slightly more "programmatic" way of finding the class offset, so I added the above.

[2019-12-20 18:47] #281 closed

[2020-01-12 12:56] stefanor commented on #262
Debian got a statement from @aligrudi in https://bugs.debian.org/940924#29

[2020-01-13 14:23] mcepl commented on #247
See #283 for WIP on fixing this. @soupytwist , any ideas?

[2020-01-14 14:19] mcepl opened #284 "test suite fails with Python 3.8"
[code]

[2020-01-14 14:33] mcepl commented on #262
Thanks, @stefanor, for catching that one. Checking up his item above as well.

[2020-01-29 06:51] lucomsky commented on #277
We need to fix the #247 first. After that fix Python 3.8 tests failing (#284).

[2020-01-29 10:45] timgates42 opened #286 "Fix simple typo: sitaution -> situation"
There is a small typo in rope/base/project.py.
Should read `situation` rather than `sitaution`.

[2020-01-29 17:46] #286 closed

[2020-01-30 14:04] mcepl commented on #277
Help on https://github.com/python-rope/rope/pull/283 first and we can move ahead.

[2020-01-30 14:15] lucomsky commented on #277
@mcepl, how can I help? It looks like you wait for review...

[2020-01-30 15:29] mcepl commented on #277
Yes, thorough review (i.e., somebody really going behind and rethinking what stupid ideas I had) would be very helpful. I am a wee afraid just let this go in without anybody thinking about it.

[2020-01-30 15:53] #247 closed

[2020-01-31 04:58] lucomsky commented on #6
@mcepl, is this bug still exists on Python 3+?

[2020-01-31 11:50] lucomsky commented on #27
@mcepl, did this bug closed or not?

[2020-02-03 12:07] mcepl commented on #6
I don’t think so, there is no string ``unicode`` anywhere in the codebase.

[2020-02-03 12:07] #6 closed

[2020-02-04 11:23] caga commented on #279
any progress?

[2020-02-05 10:20] mcepl commented on #279
Patches welcome!

[2020-02-05 11:50] mcepl commented on #279
Actually, could you make me some short self-contained test script presenting this issue, please? We could have at least test to start with.

[2020-02-05 18:59] hbusul opened #288 "Rope renames variable incorrectly"
I've come across with this issue while using Rope as a library.

Python version: 3.7.6
OS: Ubuntu 18.04
Rope Version: 0.16.0

I also noticed this bug does not occur on Rope version 0.14.0

## How to reproduce the error
1. Create the following file structure
[code]

[code]

2. Create the script for renaming `auth` variable in `app/my_app/__init__.py`.
This script should be at the same level with ap

[2020-02-05 22:43] pappasam commented on #288
Piggy backing on this issue, renaming doesn't work at all for me on the latest version of rope with `coc-python` on Neovim. Version 0.14.0 seems to actually perform a rename, but the latest version apparently does nothing. Did the public API change dramatically between 0.14 and 0.16?

[2020-02-05 23:31] mcepl commented on #288
I don't think there should be any change in the public API. Looking at https://github.com/python-rope/rope/compare/0.14.0...0.16.0 it looks really innocent. Would you be able to bisect the issue to some particular commit, please?

[2020-02-06 15:17] hbusul commented on #288
It works with commit [`975a4800f4ebab07fc779fe85700db3466a4168b`](https://github.com/python-rope/rope/commit/975a4800f4ebab07fc779fe85700db3466a4168b) `Fix return value of __enter__ for builtin File` however it seems like [`5c3da463940b44c8796f2a9edccecd4bd4e2ecc7`](https://github.com/python-rope/rope/commit/5c3da463940b44c8796f2a9edccecd4bd4e2ecc7) `Rename variables in f-strings` seems to break i

[2020-02-06 18:56] pappasam commented on #288
tl;dr my hunch: something is wrong with `base.codeanalyze.get_string_pattern`.

I think most problems are with 5c3da463 and the changes to `base.codeanalyze.py`.

`base.codeanalyze.get_string_pattern` is called by `refactor.occurences._TextualFinder`,  which is called by `refactor.occurences.create_finder` which calls `refactor.occurences.Finder` which is originally called by `refactor.rename.rena

[2020-02-09 11:09] hbusul commented on #288
I minified my test code to
[code]
I realized the pattern finds offsets correctly, however `_RealFinder` was __unable__ to find word start(`_find_word_start`) and word end(`_find_word_end`)  correctly. When I investigated further I realized it was due to wrong simplification of the code.
This code
[code]
is being simplified to
[code]
It's my first time studying the source code but if I got it right

[2020-02-09 13:59] mcepl commented on #288
I am sorry, I am swamped by my real work at the moment, but this is truly a great help! @soupytwist any hope for helping here?

[2020-02-15 22:27] mcepl commented on #288
@hbusul What’s the status of this ticket after #289 has been merged? Is this fixed?

[2020-02-16 18:28] hbusul commented on #288
Yes, it solved the issue. Sorry for forgetting to close the issue. When will this fix will be available in Python Package Index?

[2020-02-16 18:28] #288 closed

[2020-02-16 21:16] mcepl commented on #288
I really need to get those Python 3.8-related bugs fixed. So, I guess, this milestone https://github.com/python-rope/rope/milestone/3 .

[2020-02-16 21:38] mcepl commented on #228
This has been fixed in 17177e7b1c2b4338df72135653c57781cc84dab0.

[2020-02-16 21:38] #228 closed

[2020-02-16 22:12] mcepl commented on #279
@iogf Are you able to test this issue with the pull request #290, please?

[2020-02-17 00:10] iogf commented on #279
I will test then get back to you soon.

On Sun, Feb 16, 2020, 7:12 PM Matěj Cepl <notifications@github.com> wrote:

[2020-02-18 08:43] FranciscoDA commented on #279
@mcepl I was having the same issue and the package from your branch fixed it for me. Thanks

[2020-02-18 09:07] bersbersbers opened #291 "Renaming messes up a variable name"
I am using VS Code for refactoring Python code, and I assume this uses `rope`, so excuse if I am not in the right place here.

I start with this code:
[code]

I then rename `out_dir` to `OUT_DIR`, and this is what I am left with:
[code]

[2020-02-18 09:49] mcepl commented on #279
Perfect, thank you for testing.

[2020-02-24 06:25] 0alpha commented on #279
Do you have an estimate for when the next release will come out?

[2020-02-28 08:01] matmarczak opened #292 "Rename.get_old_name() can't identify objects name"
I tried to perform `Rename` refactoring in VIM and it leads to python process and VIM being frozen. I found that when rope is unable to identify old name and VIM refactoring dialog shows `[]`, every try leads to frozen vim. I reproduced small case, when `get_old_name()` returns empty string. Problem here is with renaming `SomeClass`:

`rope_rename.py`:
[code]
`foobar.py`:
[code]
Env:
`Python 3.6.8

[2020-02-28 19:23] matmarczak commented on #292
I simplified the case, it kind of makes no sense now but should reproduce bug. Refactoring should be performed on `SomeClass` name
[code]

[2020-03-03 19:20] matmarczak commented on #292
It looks like fix is already there. I tried to reproduce issue and succeeded `0.15.0` but failed with latest master.

[2020-03-03 19:20] #292 closed

[2020-03-03 19:28] matmarczak opened #293 "Rename global var affects list comprehension"
With code:
[code]
When renaming either `some_var` from global or `some_var` from list comprehension scope both variables get renamed.

[2020-03-27 22:45] seasonedgeek commented on #277
I attempted the [Quickstart: Make a Project] as suggested:

[code]
which resulted in a similar issue identified by **jonringer** (see #277 above):

[code]

I suppose this is rather dangerous, but I added (+) the following code to the local copy of  `pyobjects.py`. My edit allow me to continue on and try out some of rope's [features].

[code]
[Quickstart: Make a Project]: https://github.com/python-

[2020-04-16 13:46] mosesontheweb commented on #249
I still encounter this behaviour in v0.16.0. Anyone got tipps? Using it within VSCode.

[2020-04-27 08:37] #284 closed

[2020-04-27 08:40] mcepl commented on #277
@jonringer, can you reproduce with the latest master (commit a0cd37f2954606181c5e09b6d98df8198150ca62)?

[2020-04-27 09:35] mcepl commented on #279
@0alpha, @iogf Can you reproduce with the current master (d46aa2dcf34c6baf57b37930f5db7dc962b770b6), please?

[2020-04-30 18:05] mkorvas commented on #279
Sorry I dropped out of discussions of these issues.

I can confirm that (in my test case that's far from minimal)
- I see the error message about "no attribute 'Str'" on c6574094 (a commit currently pointed to by vim's python-mode plugin)
- the error is gone when I cherry-pick 644fb2f9 (the only commit of https://github.com/python-rope/rope/pull/290)
- the error is gone when I check out the `maste

[2020-04-30 22:41] mcepl commented on #279
Thank you.

[2020-04-30 22:41] #279 closed

[2020-05-05 14:29] DrShushen commented on #277
Running `pytest -v` with latest master (commit [`d46aa2d`](https://github.com/python-rope/rope/commit/d46aa2dcf34c6baf57b37930f5db7dc962b770b6)), using python 3.8.2, all tests pass for me:
<details>
  <summary>Tests output</summary>

[code]
</details>

For reference:
<details>
  <summary>Full list of packages in the environment</summary>

[code]
</details>

[2020-05-05 16:17] #277 closed

[2020-05-05 16:38] mcepl commented on #279
0alpha, right now.

[2020-05-06 03:14] rogedelgado commented on #249
Hello,

I can confirm the issue.I got the error in vim using LanguageCliente-neovim as client. The rope version that I'm using is v0.16.0.

Any advice for this?

[2020-05-09 03:10] gesslerpd opened #295 "Rename doesn't work for dot notation inside f-string's"
Rope fails to rename inside f-string's when dot access occurs.

Rope version: 0.17.0
Python version: 3.8.2

This small example is the result of renaming `Sample.func` to `Sample.function`.
Renaming does work inside f-strings when the symbols are in the namespace but fails when any dot access is involved.

[code]

[2020-05-15 23:06] thekrampus opened #296 "`Worder.get_primary_at` cuts off names that start like keywords."
Calling `Worder.get_primary_at` on code with names that start with Python keywords (but are otherwise valid names) gives bad results when given an offset exactly one character before the end of the part of the name that looks like a keyword.

For example:

[code]

which is obviously not right.

This causes a number of strange issues with other `rope` tools that use `Worder`.

[2020-05-18 21:24] benstaniford opened #298 "Odd issue with rename.py"
Hi there,

I'm not sure if this is quite the right place to ask this question (Because I'm not 100% which component is at fault) but I'm having the strangest stack trace from rope when trying to rename a variable.  Rope got installed by the vim plugin coc.nvim which provides language server capability for many languages including python.

What's weird is that the stack trace seems to show that rop

[2020-05-19 00:20] soupytwist commented on #298
I think this question might be more related to [ropevim](https://github.com/python-rope/ropevim)... not sure though. @mcepl ?

[2020-05-19 10:09] mcepl commented on #298
No idea. Just a question, you use Linux vim under WSL or native Windows build of vim?

[2020-05-19 12:32] benstaniford commented on #298
@mcepl I use both, in that stack trace what you see is a native win32 vim, calling the native win32 python 3.8, which has somehow found the underlying filesystem belonging to WSL and found a 2.7 version of the python libraries in there.  These worlds should be completely separate since there's no configuration that links them.  The filesystem just happens to be accessible from the host OS.

[2020-05-19 12:40] benstaniford commented on #298
@mcepl

Actually, now I look again, one suspicious thing I see is in the log file belonging to the CoC vim plugin.

2020-05-18T22:50:08.329 INFO (pid:6610) [extension-coc-python] - Python Extension: Create file systemwatcher with pattern */python
2020-05-18T22:50:08.333 INFO (pid:6610) [extension-coc-python] - Python Extension: Create file systemwatcher with pattern */*/python

I haven't looked at

[2020-05-19 15:23] mcepl commented on #298
1. I am a Linux guy, I don’t have any Windows computer around, so it is hard to help here.

2. I don’t think I know about anybody who would test rope seriously in that crazy mixed two environment system as Windows with WSL.

3. With coc over it, I really don’t know where the problem could start.

For all these reasons, closing this without prejudice. If anybody finds where the problem is or sends

[2020-05-19 15:23] #298 closed

[2020-05-19 18:20] benstaniford commented on #298
@mcepl - I don’t think I know about anybody who would test rope seriously in that crazy mixed two environment system as Windows with WSL.

Well, I said I use them both, I didn't say I use them both simultaneously or mix them in any way.  The WSL system operates more or less like an entirely self contained Linux system.  It just happens to have some files visible from its host OS.  It's just Ubuntu

[2020-05-19 22:29] mcepl commented on #298
Do you understand that these two sentences are mutually contradictory?

[2020-05-20 13:33] benstaniford commented on #298
The part you seem to have missed is "more or less".  A host operating system which has a filesystem link to a guest operating system could hardly be considered to be "crazy mixed two environment system as Windows with WSL".

However, this is starting to get a little silly/petty/pedantic.  I'm grateful for your original help, and the CoC guys quickly spotted what the issue was.  Let's leave it.

[2020-05-24 16:38] ArkadyWey commented on #249
Hi,

I am also still having this issue.

Does anyone have a fix?

[2020-06-04 00:10] nonamedotc opened #299 "advanced_oi_test.py fails with python 3.9"
With python 3.9, advanced_oi_test fails with
[code]

Complete build logs here - https://koji.fedoraproject.org/koji/taskinfo?taskID=45387865

[2020-06-04 00:16] nonamedotc opened #300 "type_hinting_test.py fails with python 3.9"
When compiled with python 3.9, type_hinting_test fails with

```self.assert_completion_in_result('is_alive', 'attribute', result)```

Patch to fix this issue from downstream bug report [1] is attached.

[isalive_fix_patch.txt](https://github.com/python-rope/rope/files/4726785/isalive_fix_patch.txt)

[0] https://bugzilla.redhat.com/show_bug.cgi?id=1834187#c6

[2020-06-06 10:08] Huge commented on #216
Maybe it took the `)` which made it choke?

[2020-06-29 13:25] mdcaio opened #302 "simple refactoring within class fails"
I have a problem when refactoring within a class. Below a minimal working example.

Within VSCode, in the file `test_rope.py`, I'm trying to refactor this:
[code]
into this:
[code]
however, I get the error `Cannot perform refactoring using selected element(s). Refactor failed. Attribute rope_test not found ...`

Is this an expected behaviour? And, if yes, why?

**SIDE NOTE**
Notice that if the cla

[2020-08-13 20:14] mlao-pdx opened #303 "Quoted curly braces identifier in f-string is not properly replaced"
[code]

[2020-08-15 15:06] Nudin opened #304 "inline crashes with AttributeError"
When trying the inline feature with this example from the Featurelist with ropevim, I get an error with the stacktrace below.
[code]

[code]

[2020-08-18 11:29] shaypal5 commented on #279
As of August 2020, the fixed code cannot be found on master, and the commit itself seems to have been deleted from history:

https://github.com/python-rope/rope/commits/master
https://github.com/python-rope/rope/commits/master/rope/base/pyobjects.py

[2020-10-05 15:15] ahauan4 opened #308 "Rename doesn't work for debug notation inside f-string's"
Rope fails to rename inside f-string's when followed by equal sign for debugging.
See https://realpython.com/lessons/simpler-debugging-f-strings/
And https://bugs.python.org/issue36817

Rope version: 0.17.0
Python version: 3.8.2

Example:

[code]

[2020-10-11 04:39] lieryan commented on #291
Can't replicate in python 3.8.5/rope 0.18.0; are you still having issue with this? Also, please provide the python and rope version you're using.

[2020-10-11 07:05] bersbersbers commented on #291
I'd like to try, but I am not getting any variable renaming to work in VS Code as of right now, both for "Jedi" (which uses `rope`) as well as "Pylance" (which does not, I believe). I'll get back to you.

[2020-10-11 11:40] bersbersbers commented on #291
I am now still able to repro this with `0.16.0` installed. This is an even easier example:
[code]

Renaming `ab` to `c` yields
[code]

This issue appears only with `0.16.0` - not with `0.14.0`, nor `0.17.0`, nor `0.18.0`. But maybe it's a valuable test case to add.

[2020-10-16 04:03] bbcVld opened #311 "Error while restructuring in py3.7"
While running Restructure on project which has async method which call sync method I got an error.
Example below:
[code]

Traceback:
[code]
If I change function to async It will work.

versions:
[code]
I run this whith sublime plugin [PyRefactor](https://github.com/dnatag/PyRefactor).

[2020-10-16 04:11] bbcVld opened #312 "Unknown tokens in py3.7"
When I run rope on my project I got some warnings:
[code]
- [x] `<JoinedStr>` - it's f-string (`f'Some text {param}'`)
- [x] `<AsyncFunctionDef>` - it's async defenition (`async def func(): ...`) - example in iss #311
- [x] `<AnnAssign>` - it's annotation to the variable (`a: str = None`), not function parameter.

versions:
[code]

[2020-10-16 04:57] bbcVld opened #313 "Can't extract method with f-string"
While trying to exptact method from:
[code]
Got:
[code]
If remove braces it will work.

versions:
[code]

[2020-10-16 19:27] #248 closed

[2020-10-19 10:32] estyrke commented on #279
@shaypal5 But is the issue still present? Rope 0.18.0 fixes the issue for me (relative to rope 0.16.0 where I found the issue).

[2020-10-19 11:29] #282 closed

[2020-10-26 07:58] #313 closed

[2020-10-26 12:35] GreenRobot777 commented on #249
Other solution: https://stackoverflow.com/a/59570939/14522024

[2020-10-26 15:12] mcepl commented on #249
@lieryan Do you have any idea about this one? We seem to have many very unhappy customers here.

[2020-10-26 19:01] chrisbarber opened #315 "Reuse of variable in comprehensions confuses method extraction"
Extract method for the `a =` and `b =` lines individually.

**Actual**

[code]

[code]

**Expected**

[code]

[code]

[2020-10-26 19:09] chrisbarber opened #316 "Global declaration is ignored by method extraction"
Do method extraction on the `g = 2` line:

[code]

**Actual**

[code]

**Expected**

[code]

[2020-10-27 18:38] bg-bi opened #317 "Refactor failed. 'NoneType' object has no attribute '_fields'"
I'm using VSCode with rope 0.14.0 and trying to do a simple refactor to rename a local variable. I'm using a docker container as well.

Refactor failed. 'NoneType' object has no attribute '_fields'
[
<FrameSummary file /home/developer/.vscode-server/extensions/ms-python.python-2020.9.114305/pythonFiles/refactor.py, line 380 in watch>,
<FrameSummary file /home/developer/.vscode-server/extensions/ms

[2020-10-28 22:38] lieryan commented on #249
I took a look at this, it seems like there are a number of issues at play here:

- `pyscopes.py::_HoldingScopeFinder` currently assumes that a single logical line of code (i.e. a python statement) can only belong only to a single variable scope, but list/generator expression and lambdas are expressions that can create their own variable scope, so this assumption is incorrect. It may take quite a b

[2020-11-01 11:28] lieryan commented on #317
Can you provide a minimal reproducible example? Without an example code, there isn't really anything anyone can do about this ticket.

[2020-11-02 21:12] bg-bi commented on #317
Apologies.

[code]

This fails with the same message. I narrowed it down to a dictionary merge, which I think causes the error.

[2020-11-08 22:52] #317 closed

[2020-12-05 01:11] lieryan commented on #308
This is caused by a set of bugs in the standard library's `ast` module related to f-string, which doesn't produce correct offsets. Ref: https://bugs.python.org/issue39564, https://bugs.python.org/issue37458, https://bugs.python.org/issue35212,

Background: The current version of CPython doesn't fill col_offset correctly because internally f-string are not really part of the main parser's grammar,

[2020-12-06 00:19] lieryan commented on #275
Can't reproduce this in Python 3.8 with latest rope. This is likely because you're running rope on a Python version that does not support `nonlocal` syntax.

`rope` doesn't actually parse Python code, instead it relies on the standard library's `ast` module to do the parsing. `SyntaxError` is usually raised by the `ast.parse()`. For the most part, barring any special behaviours, rope would usually

[2020-12-06 00:21] #275 closed

[2020-12-06 00:31] lieryan commented on #114
Your proposed refactoring is not a safe refactoring. Inline assignment calls `__iadd__` which may implement something completely different than the `__add__` method for non-builtin types.

The safe alternative would be to pass `i` as a parameter:

[code]

or turn it into `global`:

[code]
The first alternative is more universal, as it will also work when `i` is not in the global scope.

[2020-12-06 08:14] #114 closed

[2020-12-13 21:38] XtremeGood opened #324 "Long time taking to refactor"
I don't know but it takes too long to refactor on my win 10 , 64 bit, i7 7th gen , 16 GB RAM laptop.

![image](https://user-images.githubusercontent.com/40588378/102024714-acaa0600-3db9-11eb-8745-5f50bc619410.png)

[2020-12-14 00:45] mcepl commented on #324
If you are using VS Code plugin, I am not completely persuaded they actually use this version of rope, or they bundled some of older (and probably even patched) version.

[2020-12-14 03:51] XtremeGood commented on #324
Well I ‘m using vscode but it did a pip install in the virtualenv. Sent from Mail for Windows 10 From: Matěj CeplSent: 14 December 2020 06:15To: python-rope/ropeCc: Vishesh Mangla; AuthorSubject: Re: [python-rope/rope] Long time taking to refactor (#324) If you are using VS Code plugin, I am not completely persuaded they actually use this version of rope, or they bundled some of older (and probabl

[2020-12-22 10:21] zevaverbach commented on #324
Chiming in here with a +1. I'm on a modern Mac (2019 16" MBP) using VSCode, and the "rename" refactor takes ages to run.

[2020-12-22 13:35] mcepl commented on #324
@zevaverbach , @XtremeGood could you both quantify “ages” and “too long”, please? Are we talking about seconds, minutes?

[2020-12-22 17:12] zevaverbach commented on #324
@mcepl many seconds, upwards of 20-30.

[2020-12-22 22:50] mcepl commented on #324
@zevaverbach And what size of the project? How many files, how many megabytes?

[2020-12-25 07:37] XtremeGood commented on #324
just a single file of 30-40 lines

[2020-12-25 12:56] lieryan commented on #324
That doesn't sound like a performance issue with rope, but rather how you development environment is set up. I've used rename refactor on really big Python projects, like 200kloc projects, and rename never takes more than two seconds to complete.

I am not familiar with VScode, but I noticed you might have a venv folder on your directory. Try moving your virtualenv folder to somewhere outside the

[2020-12-25 20:25] mcepl commented on #324
I cannot reproduce here. Renaming with neovim+python-language-server (which uses rope for refactoring) takes a second or two, but nothing too crazy (and LSP itself adds substantial overhead).

[2020-12-25 20:25] #324 closed

[2021-01-10 20:38] Levitanus opened #326 "AnnUsign support request"
python 3.8 focal native package
rope 0.18.0 from github master branch
[code]

As I understand it is operator `:=` introduced in 3.8

Thanks!

[2021-01-11 13:32] #326 closed

[2021-01-17 08:00] euseanwoon2016 commented on #324
I also have this issue but I found that adding 'venv' to ` prefs['ignored_resources']` in `.vscode/.ropeproject/config.py` solves the issue.

[2021-01-17 10:27] mcepl commented on #324
@XtremeGood does @euseanwoon2016 's workaround help for you? Should we make this default value of `.ropeproject/config.py`?

[2021-01-17 10:32] XtremeGood commented on #324
Hi, it works now. It worked great after one of the updates in VS code.

[2021-01-17 11:05] euseanwoon2016 commented on #324
I'm new to python so I can't really say. However, if venv is used frequently I'd believe that it should be a default value.

[2021-01-17 11:22] mcepl commented on #324
@XtremeGood OK, I will do nothing for now, and write it up as some mysterious bug which has been resolved on the way (ours or VS Code).

[2021-01-17 15:02] brand17 opened #328 "Extract method not working for files outside of the folder if the line contain `self.`"
### Steps to reproduce

1. Create a file and save it to the parent directory (outside of the project folder):
[code]
2. Select the last line
3. Press right mouse button and choose "Extract method"

### Current behavior

The error raised (looks like pylint looking for a module named as a parent directory):

### Expected behavior:

no error

[2021-01-17 15:08] brand17 opened #329 "Extract method not working from function with `encoding=` keyword argument"
### Steps to reproduce
1. Create this code:
[code]
2. Select the last line
3. Press right mouse button and choose "Extract Method"
### Current behavior
Raising error:

[code]
### Expected behavior
no error

[2021-02-03 10:58] mcepl commented on #238
Almost three years.

[2021-02-03 10:58] #238 closed

[2021-02-08 17:06] rubendibattista commented on #202
Same here, I'm also getting a Syntax error with `ropevim` for a line of the type:

`from .state import State`

[code]

In order to help, where should I look?

[2021-02-09 20:39] #202 closed

[2021-02-26 05:24] #57 closed

[2021-02-27 23:32] mattst88 commented on #300
I believe this was fixed by f8d2428275286faf2acf9b5757859026963f851b and can be closed.

[2021-02-27 23:35] mattst88 commented on #299
I see this on Gentoo as well

[code]

[2021-03-09 02:03] mattst88 commented on #299
@mcepl: any ideas?

[2021-03-09 17:16] mcepl commented on #299
@mattst88 no. Feel free to submit a pull request.

[2021-03-14 12:28] mattst88 commented on #299
Looks like `a_var.get_type()` returns a `rope.base.pyobjectsdef.PyClass` in Python 3.8 but in Python 3.9 it returns a `rope.base.pyobjects.PyObject`.

[2021-03-14 14:15] mattst88 commented on #299
I think the test failures are due to

as described in https://docs.python.org/3/whatsnew/3.9.html#changes-in-the-python-api

[2021-03-19 17:39] ehandal opened #335 "Unknown node type AnnAssign"
Encountered this error while attempting to extract a method:

[code]

[2021-03-20 08:39] #299 closed

[2021-03-22 18:57] mattst88 commented on #300
@mcepl: I believe this is already fixed. Please close.

[2021-03-22 18:58] mcepl commented on #300
Thank you for letting me know.

[2021-03-22 18:58] #300 closed

[2021-03-23 16:15] FlySky-z opened #336 "Syntax error occurred during rope refactoring"
I had a syntax error while using code-server (using the aarch64 server) .

[code]

[2021-03-24 14:02] mcepl commented on #336
Why do you file a bug against rope, when the bug is clearly [in pydevd](https://github.com/fabioz/PyDev.Debugger/blob/main/_pydev_imps/_pydev_pkgutil_old.py#L543): exception has still Python 2 syntax.

[2021-03-24 14:02] #336 closed

[2021-03-24 16:16] mattst88 opened #337 "New release?"
@mcepl: It's been a while since the last release, and at least Gentoo would like a new release for Python 3.9 support.

Are there any outstanding bits that should go into a new release?

Thanks!

[2021-04-01 19:36] rjzupkoii opened #338 "Rope generates an error when spelling errors in quotes or comments are corrected"
Issue found when correcting a spelling error in quotes or comments using the [Code Spell Checker](https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker) extension (Version 1.10.2) in Visual Studio Code (Version 1.55.0) and Python extension (Version 2021.3.680753044). This issue may be related to #249 since the error generated is similar.

**Reproduction**
1. Cre

[2021-04-01 21:39] mcepl commented on #338
I don't see here anything testable and I am not persuaded that the bug is really in rope and not in the VSCode integration. Could I get full backtrace (not just names of functions) as well?

[2021-04-01 21:47] rjzupkoii commented on #338
@mcepl Where / how can I generated the full back trace?

[2021-04-01 21:58] mcepl commented on #338
I have no idea, I don't use VS Code. File the bug report there. If their developers think that the bug lies in rope, they will know how to provide relevant information.

[2021-04-01 21:58] #338 closed

[2021-04-01 22:38] rjzupkoii commented on #338
@mcepl With a big of digging I as able to find the trigger for the variable is the rename provider in VS Code, if anyone uses the Code Spell Checker extension setting `cSpell.fixSpellingWithRenameProvider` to `false` seems to prevent this.

[2021-04-01 22:54] mcepl commented on #338
Thank you. #249 have at least clear reproducer.

[2021-04-17 16:34] chrisjsewell commented on #303
hey yeh I'm really surprised more people haven't commented on this.
I use f-strings all the time, and it makes rope really horrible to use in the current state

[2021-04-18 12:33] #260 closed

[2021-04-18 20:55] mcepl commented on #337
Fixed in 0.19.0.

[2021-04-18 20:55] #337 closed

[2021-04-23 03:56] gesslerpd commented on #295
Reason for this issue is tracked in #308

[2021-04-23 03:56] #295 closed

[2021-04-27 09:55] tbrodbeck opened #355 "Feature Request: Do not define a variable if it is immediately returned"
Hi it would be great if this could be enhanced:
# Actual:
[code]
# Shorter version:
[code]
I regard this shorter, better readable and understandable

[2021-05-09 20:39] dmerejkowsky commented on #254
Looks like this is fixed :)

[2021-05-09 21:11] mcepl commented on #254
Thank you.

[2021-05-09 21:11] #254 closed

[2021-05-20 06:37] mcepl commented on #355
Except, sometime it makes sense (when you plan to log `df` variable in future). Anyway, this is just a personal preference, not a bug, and unless you have a code to share, I won't keep this ticket open.

[2021-05-20 06:47] tbrodbeck commented on #355
Sure if the variable would be logged or anything would be done with it, it should not be shortened and that is super:
[code]

But in most cases this will not happen. And I would prefer a shorter form (that can be still easily extended when you decide to log something afterwards etc.)

[2021-05-20 06:53] mcepl commented on #355
As I said: Show me the Code™, and I will reopen the ticket.

[2021-05-20 06:53] #355 closed

[2021-05-20 07:08] tbrodbeck commented on #355
You mean like a MWE?

Ok lets take this example function:
[code]

If I now extract the lines with state2, 3 and 4:
[code]

What I think would be more precise (shorter and state4 is not declared at to points in the code):
[code]

[2021-05-20 08:50] mcepl commented on #355
No I meant https://lkml.org/lkml/2000/8/25/132 … if you want this functionality added, push here the pull request. There is no real maintainer of this project: just me collecting tickets and pull requests and making sure that not everything goes completely belly up.

[2021-05-20 09:21] tbrodbeck commented on #355
Okay then I am just a little bit confused by this procedure. When you mean by code a solution to the problem: Normally an issue is open when there is no code/solution and closed when there is code. Here it seems to be the other way round. ^^

[2021-07-12 14:40] rdbisme opened #356 "Rope does not support the syntax for keyword arguments only __init_subclass__"
[code]

This generates a syntax error for me while refactoring using ropevim

[2021-07-12 14:47] rubendibattista opened #357 "Rope does not support extract method on expressions with Inline Assignment (walrus operator)"
I get a syntax error on something like this:

[code]

[2021-08-07 19:06] acharles7 opened #359 "Provide support of python's Pathlib in setup.py and other packages"
Currently, `setup.py` uses `io` and `os.path` for file system manipulation which can be easily replaced with`Pathlib` makes setup.py look even nicer.

Would love to work on this issue!

[2021-08-08 07:16] mcepl commented on #359
Show me the code!

[2021-08-09 05:50] acharles7 commented on #359
Just saw, `rope` has partial support of python3. Not sure which exact python3 version. If we are planning to use `Pathlib` then it comes with >= python 3.4

[2021-08-09 09:31] mcepl opened #360 "Rope is open for adoption"
It seems to me that I just don't have any time to be the only who cares for this zombie (reanimated corps) any more, so I have to give up on my efforts to keep it alive. Will you step up, or should we just close the shop?

CC: @aligrudi, @emacsway, @joystein, @soupytwist, @thomasjm, @tommclaughlin

[2021-08-22 12:59] lieryan commented on #360
:hand: First thing first, thanks for maintaining this project for all this time. I'd be willing to assist in any ways I can to keep the project going.

[2021-08-22 16:22] mcepl commented on #360
You have been invited.

[2021-08-23 09:37] lieryan commented on #357
Rope itself doesn't support walrus operator when refactoring, only during renaming operation; but that shouldn't result in a SyntaxError. If you received a SyntaxError, that's likely not because of rope itself, but rather the version of Python that you're running rope with. rope uses Python's own builtin `ast` module to parse Python, walrus operator is Python 3.8 and higher, so you need to configu

[2021-08-23 13:28] lieryan commented on #360
I've accepted the invite. Thanks again @mcepl and all other prior maintainers for this great project.

In addition to looking reviewing merge requests and looking into the issue trackers, I also intend to look into ways to document and make it easier to use Rope in text editors/IDEs and contribute to Rope, as well as advertising about Rope in various developer communities which allows open source

[2021-08-23 17:53] soupytwist commented on #360
Thank you, and thanks Matej for supporting this for so long. I haven't been able to devote time to it for a while now.

[2021-09-03 19:23] lieryan commented on #357
Support for requiring walrus operator seems to have already been added in https://github.com/python-rope/rope/commit/4871928f30f3dfce5a22964e76f3c7562883304b

I'll need to check if there's still any issues refactoring the aforementioned sample code.

[2021-09-03 19:30] lieryan opened #363 "Create issue template"
Write some issue template to make it easier for people to include the correct details needed in a bug report.

Ref: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2021-09-03 19:48] lieryan commented on #291
Closing as this issue is already fixed in latest version of rope. If you still have this issue and you're already using latest version of rope, please reopen a new ticket.

[2021-09-03 19:48] #291 closed

[2021-09-03 20:01] lieryan opened #364 "Document editors and LSP projects with rope support"
Document all known first and third party projects that supports rope.

[2021-09-03 21:17] lieryan commented on #356
Hi, what Python version are you using to run Rope?

Syntax error usually happens because your editor is running Rope with Python version that doesn't support the syntax you're trying to use.

Rope used the `ast` standard library module to parse Python, so Rope only supports syntax that are supported by the version of Python that rope itself is running as.

The positional only syntax was added in P

[2021-09-04 11:19] lieryan commented on #296
Closing. This seems to no longer be an issue in latest rope.

[2021-09-04 11:19] #296 closed

[2021-09-04 12:07] lieryan commented on #357
Confirmed reproducible test case (rope 0.19.0, Python 3.8):

[code]

When Extracting Method on `match := _REGEX_PATTERN.match(field.name)`, this produces Syntax Error because rope was trying to parse the snippet `match := _REGEX_PATTERN.match(field.name)` which is a valid Python in expression context, but not in a statement context.

Expected behavior should probably be something like so:

[code]

[2021-09-04 12:55] lieryan commented on #272
`create_move()` takes an character offset, not line numbers.

Replacing with `move = create_move(proj, mod, mod.read().index('ArgumentParserWithHelp'))` works as expected.

[2021-09-04 12:55] #272 closed

[2021-09-04 13:13] rubendibattista commented on #357
Thanks @lieryan for getting a look to this!

[2021-09-04 19:01] lieryan opened #366 "Intelligently detect and ignore virtualenv folders"
Background: a common pitfall for users is that Rope seems slow, but when you dig deeper, often it becomes obvious that the root cause of the performance issue is actually not the performance of rope per-se, but rather because the user has a huge virtualenv folder in their project directory that rope thinks it needs to scan.

The patch in https://github.com/python-rope/rope/pull/358 adds a rudiment

[2021-09-05 11:13] #357 closed

[2021-09-05 14:03] lieryan commented on #176
Closing this ticket because there isn't sufficient information here to investigate the problem. If anyone can provide more info about this issue, please either add to the ticket or create a new ticket.

[2021-09-05 14:03] #176 closed

[2021-09-06 16:34] lieryan commented on #293
Copying the investigating text from #249:

[2021-09-06 16:37] lieryan commented on #249
Closing this ticket as the core renaming issue is already resolved in pull request #318. The slightly incorrect variable scoping issue will be tracked separately in #293.

[2021-09-06 16:37] #249 closed

[2021-09-06 16:43] lieryan commented on #151
Closing this as there's not enough info or context to action this ticket. If anyone have more details to elaborate what the issue here is, please add and reopen or create a new ticket.

[2021-09-06 16:43] #151 closed

[2021-09-06 17:10] climbus commented on #360
Hi,
Python hasn't any good refactoring tool. Pycharm has poor refactoring options, VSCode by LSP too. Vim rope plugin is dead.
By now, only Rope is option to provide good tool for refactorings. I hope it'll be developed.  I can help, but not with documentation because of my English. Especially, I can help with testing editors support.
If you have some entry task, for example adding some unit tests

[2021-09-06 17:12] mcepl commented on #360
That is not correct … https://github.com/python-rope/ropevim is as alive as ever.

[2021-09-06 17:14] lieryan commented on #197
We'll need help here from rope user community that uses rope interactively in CLI to help figure out an API that would work for you when you're using rope in this way.

For the moment, I'm closing this ticket as this ticket is not really actionable in its current form. But I will accept submissions to implement this, if anyone wanted to draft a proposal for what this `__repr__` interface should lo

[2021-09-06 17:14] #197 closed

[2021-09-06 17:27] climbus commented on #360
Good to hear. I'll check it.

Could you look on my pull request in rope-mode project? https://github.com/python-rope/ropemode/pull/17

[2021-09-06 18:09] lieryan commented on #364
(draft)

There are currently three options for using rope in Vim:

- ropevim is the reference implementation maintained by the rope project. Though there are some rough edges in the UI, it's one of the more fully featured rope integration. The way this plug-in is designed and implemented, it doesn't actually need that much maintenance, so its sparse update rate can be quite misleading.
- python-mo

[2021-09-06 18:32] lieryan opened #367 "Document Python syntax support"
Need to go through Python's Change Log and identify syntax changes.

We should start documenting the syntax support in rope as it currently.

Create a table containing a list of these syntaxes, divided by Python version, and a checklist of how well they are currently supported in rope.

Three main area of focus are:

- renaming of variables around that new syntax
- extract local variables for expr

[2021-09-06 18:47] lieryan commented on #216
Closing. This is most likely caused by https://github.com/python-rope/ropevim/pull/89.

[2021-09-06 18:47] #216 closed

[2021-09-06 19:18] lieryan commented on #360
Hi @climbus, thank you for your interest in rope.

I'm currently grooming our issues backlog. One of the goal of backlog grooming is to identify tickets that can be ["good first issue"](https://github.com/python-rope/rope/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) and to refine the ticket descriptions to make sure there is enough information for contributors to pick up.

I don't

[2021-09-06 20:10] climbus commented on #302
Example 1: I can't reproduce: https://github.com/climbus/rope/blob/issue_302/ropetest/refactor/extracttest.py#L1301
I've created a test for it, but works fine.

[2021-09-07 18:02] lieryan commented on #302
@climbus thanks for testing this out, yes, this seems to have already been fixed in latest rope.

[2021-09-07 18:02] #302 closed

[2021-09-07 18:43] climbus commented on #302
I'm wondering on the second example. If I have good understanding, static method is extracted if code is inside static method.
Maybe rope should extract to static method if there are no reference to self? On the other hand, extracting to static method by default may be the wrong idea.

[2021-09-07 18:54] lieryan commented on #98
Closing. Cannot reproduce in latest rope, if you believe this is still an issue, please provide more information to help reproduce, such as what kind of refactoring you're trying to do or what steps you took.

[2021-09-07 18:54] #98 closed

[2021-09-07 19:52] #329 closed

[2021-09-07 20:11] lieryan commented on #302
Yeah, I don't think automatically extracting into a staticmethod just because the section of code doesn't reference `self` would be a good default.

The way I see it, changing the method type (i.e. regular/staticmethod/classmethod) should be something that the user explicitly decides to do, rather than rope trying to guess based on usage of `self`.

`ExtractMethod.get_changes()` currently doesn't

[2021-09-07 20:22] lieryan commented on #304
Closing. Cannot reproduce using latest rope.

rope==0.19.0 ropemode==0.5 ropevim==0.8.1

[2021-09-07 20:22] #304 closed

[2021-09-07 20:47] lieryan opened #368 "Comment marker to tell OrganizeImport to keep unused imports"
Background: #21

[2021-09-07 20:50] lieryan commented on #21
Removing unused import is an intentional behavior. rope can't know that you intend to use an import just for its side effect. Once we've implemented `__all__` (#8) you can add the imported lines there to prevent it from being removed. It would also be reasonable if user can add a special comment markers (e.g. `# rope: keep-unused-import`) on imports lines to prevent rope from removing them during

[2021-09-07 20:50] #21 closed

[2021-09-07 21:17] lieryan opened #369 "ImportOrganizer should not remove types used in string type annotation"
PEP-3107 type annotation can be specified as string, but rope does not currently recognize these as annotations.

Example code:

[code]

Reorganizing import currently will remove `from foo import Baz`.

rope==0.19.0

[2021-09-07 21:34] lieryan opened #370 "Rename refactoring should rename in string type annotation"
[code]

Renaming `B` should rename the variables used in type annotations.

[2021-09-07 21:47] lieryan commented on #302
Having said that, if someone wants to make a PR to make it an option that can be configured in `.ropeproject/config.py` to have rope add `staticmethod` automatically if the extracted code section doesn't reference `self`, I'd be open to it.

[2021-09-07 21:51] lieryan opened #371 "ExtractMethod into a staticmethod/classmethod"
User Story: I want to extract a block of code into classmethod/staticmethod rather than into regular method. Background: https://github.com/python-rope/rope/issues/302#issuecomment-914592269

- ExtractMethod.get_changes() need to have an option to extract a block of code from a regular method into a staticmethod/classmethod.

Additional acceptance criteria:

- [x] update documentation

[2021-09-07 22:07] mcepl commented on #364
And currently is dead. I can transfer it to the `python-rope` if you care about it, but I don't think it is worthy: it is not much more than a small fork of the original rather old commit of the Palantir Python LSP, with some non-rope functionality removed and replaced by rope, but really not that many. I think it would be nice if something like that was written, but I am not sure this is it.

And

[2021-09-08 04:19] lieryan commented on #364
Yes, after evaluating the landscape of LSP; currently, I think our best bet for moving into LSP space is by creating a python-lsp-server plug-in rather than forking python-language-server or python-lsp-server itself. python-lsp-server has a plugin system that would allow 3rd party plugins to hook new functionalities into python-lsp-server.

python-lsp-server already has a first party rope plugin,

[2021-09-08 06:21] mcepl commented on #364
Yes, but I was really thinking about more of rope even into the fundamental operations (`go-to-definition`), and ideally to make it so that the model of the document which is in memory **IS** the rope’s one. However, I won’t be writing this, so whatever whoever decides is their problem.

[2021-09-08 09:43] lieryan commented on #364
Personally, I'm happy to let users decide if they want to mix and match pylsp plugins. If they want to use Jedi for completion and definition jumping, but rope for refactoring, then they should be allowed to have that choice, rather than being forced to choose between jedi-only LS and rope-only LS.

Rope's core strength is refactoring operations, so that's where I want to focus my development effo

[2021-09-08 13:59] lieryan opened #373 "Extract refactor containing `exec` should pass parent scope as argument"
As of `rope==0.19.0`, given the following code:

[code]

when we extract `exec("print(a)")` into `new_func`, currently we get:

[code]

which does not produce the same result as the original code since the `a` argument was not passed over to the extracted function.

Instead when extracting code block containing exec, rope should recognize this and pass the `globals()` and/or `locals()` as appropri

[2021-09-08 14:07] lieryan commented on #329
Fixed in commit b5714fd5f5d5b818efccae3036858f98116270c3.

Thank you for taking the time to report this issue.

[2021-09-08 14:10] lieryan commented on #117
Closing. This issue will be fixed with PR #372.

[2021-09-08 14:10] #117 closed

[2021-09-08 14:22] mcepl commented on #364
If `pylsp` allows this level of granularity, than good for us. Otherwise, all good points. And concerning the competitive scene, I would say https://github.com/Microsoft/python-language-server is somewhere on the top of the list.

[2021-09-08 14:52] climbus commented on #371
I can get this if it is free.

We have to establish an API.  get_changes is used to extracting methods and variables.
With method extracting we have options: instance, class and static.
With variable extracting it will be local, instance, class (global has other option)

So we can add "type" argument with name of extracting type: get_changes(..., type="static") and validate it in child class.
Othe

[2021-09-08 15:27] lieryan commented on #371
This sounds like a sensible API to me, except that I would name `type` to be something else. In a codebase like rope that does a lot with type analysis, it'd get confusing to use `type` to refer to this.

Another option to consider is if something like `get_changes(..., decorators=[ExtractMethod.CLASSMETHOD])` would be sensible. This might open the API up too much into territory that we are not re

[2021-09-08 19:06] lieryan commented on #120
Closing as duplicate of #371.

[2021-09-08 19:40] lieryan opened #375 "Implement extract refactoring inside `async def`"
[code]

Expected

[code]

Actual:

[2021-09-09 07:19] climbus opened #376 "Extract method only with instance variable change assigment"
Given class:

[code]

When extracting method with selected instance variable  `var_bb = [self.var_a]` and selected similar to True

Then changing var_a assignment:
[code]

Should be:

[code]

[2021-09-09 13:17] climbus opened #378 "Extract method from if statemet in class"
Given class:

[code]

Extract selection: `self.a_var == 1`  to method "second_method"

Should be:
[code]
Is
[code]

[2021-09-09 19:15] climbus commented on #378
my fault, i had a bug in test ;)

[2021-09-09 19:15] #378 closed

[2021-09-11 06:20] lieryan opened #379 "Statically infer possible values of a variable"
For autoimport to be able to handle `__all__` properly, rope would need to be able to statically analyze the module to infer all the possible values that a variable/list may contain:

[code]

The expected capability is that doing an `infer_possible_values(module, '__all__')` should return: `['name1', 'foo_blah', 'bar_blah', 'abc', 'def', 'ghi', 'foo', 'bar']`.

Being able to do value inference wou

[2021-09-11 19:30] #363 closed

[2021-09-12 08:50] #8 closed

[2021-09-12 18:04] lieryan opened #381 "Inline return value of extract inline assignment should not be allowed"
**Describe the bug**
The new inline assignment extract refactoring introduced in #365 produces incorrect refactoring

**To Reproduce**

1. Code from `ExtractMethodTest.test_extract_function_expression_with_inline_assignment_in_inner_expression`:

[code]

2. Extract: `a == (c := 5)` should raise an error

3. Expected: should raise a RefactoringError, there's no sensible, correct way to extract refa

[2021-09-12 18:11] lieryan opened #382 "Extracting one-line expression should not produce extraneous inline assignment"
**Describe the bug**
The new inline assignment extract refactoring introduced in #365 produces incorrect refactoring

**To Reproduce**

1. Test case that should pass:

[code]

2. Currently, the test case above produces an extraneous and unnecessary inline assignment `resp :=`:

[code]

**Editor information (please complete the following information):**
 - Rope version: master (pre-release 0.20.0)

[2021-09-12 18:20] lieryan opened #383 "Create first draft to Document Python syntax support"

[2021-09-12 18:22] lieryan opened #384 "Create first draft to Document editors, libraries, and LSP projects with rope support"

[2021-09-13 13:03] #382 closed

[2021-09-13 13:03] #381 closed

[2021-09-13 13:34] lieryan commented on #335
This seems to have already been fixed in 4871928f3.

[2021-09-13 13:34] #335 closed

[2021-09-13 13:51] lieryan opened #387 "Add support for extract refactoring code containing `async with`"
- [ ] Implement AsyncWith in patchedast.py
- [ ] Add patchedasttest.py test for AsyncWith node
- [ ] Add extracttest.py that uses `async with statement`

[2021-09-13 14:01] lieryan commented on #312
Hi thanks for reporting this. All of these will have already been fixed in master and will be part of the next upcoming release (rope==0.20.0).

- <JoinedStr> implemented in b37572b48
- <AsyncFunctionDev> implemented in 291ad2b9d
- <AnnAssign> implemented in 4871928f3

[2021-09-13 14:01] #312 closed

[2021-09-13 14:11] lieryan commented on #12
Closing. I don't really know what this ticket is really about, but I suspect that it's now outdated. Please reopen if this is still an issue and anyone wants to elaborate and provide more information.

[2021-09-13 14:22] lieryan opened #388 "Document build and release process"
Later down the road we want to be able to automate releases, but for now, let's document the existing process first.

[2021-09-13 16:15] mcepl commented on #388
I want to complete disentangle myself from rope, so I may try to be around from a while to help with the transition, but less I do happier I am.

Concerning the release process, there is not much to be said:

1. Increase the number in `rope/__init__.py`
2. Tag the release with the tag annotation containing the release information
3. `python3 setup.py sdist`
4. twine upload -s dist/rope-$VERSION.ta

[2021-09-13 17:12] lieryan commented on #388
Thanks for clarifying your intent. I think the next step in the transition is for me to set up and gain the credentials so I would be able to upload a new release to PyPI.

Would you be able to add my PyPI account ([lieryan](https://pypi.org/user/lieryan/)) so I would be able to upload new releases for rope-related projects in PyPI?

And thank you again for all the years you've been maintaining ro

[2021-09-13 17:41] mcepl commented on #388
Done

[2021-09-13 17:42] lieryan commented on #388
Thanks!

[2021-09-13 18:05] lieryan commented on #388
Basic release process documentation now added in https://github.com/python-rope/rope/blob/620ff09bdd38777fb42460cec5514a861bb426f9/docs/release-process.rst

[2021-09-13 18:05] #388 closed

[2021-09-14 20:43] lieryan opened #390 "_self_name_in_body should inspect the AST rather than just textually-searching in the text"
We'll want _self_name_in_body to inspect the AST rather than just textually-searching in the text. Hint: look into the `self.info_collector`.

_Originally posted by @lieryan in https://github.com/python-rope/rope/pull/377#discussion_r706227473_

[2021-09-16 15:02] climbus commented on #390
i've removed self_name_in_body. I think we can close it ;)

[2021-09-17 18:30] lieryan commented on #390
Fixed in #377

[2021-09-17 18:30] #390 closed

[2021-09-17 19:47] lieryan opened #393 "unsafe refactoring: when extracting method, should detect and raise an error if variable scope cannot be determined"
Comment copied from https://github.com/python-rope/rope/pull/380#issuecomment-917687734

[2021-09-17 19:58] #112 closed

[2021-09-17 23:26] #375 closed

[2021-09-18 12:50] lieryan commented on #316
Closing. This is now fixed by #392.

[2021-09-18 12:50] #316 closed

[2021-09-18 13:09] #376 closed

[2021-09-19 14:47] lieryan commented on #384
Initial draft done on https://github.com/python-rope/rope/wiki/How-to-use-Rope-in-my-IDE-or-Text-editor%3F

[2021-09-19 14:47] #384 closed

[2021-09-19 16:54] lieryan opened #397 "Refactoring idea: extract refactoring from container literals/function argument list"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Given, a collection literal like so:

[code]

or a function call:

[code]

or similar constructs with:

1. [ ] list literal
2. [ ] tuple literal
3. [ ] dict literal
4. [ ] set literal
5. [ ] function call argument list

When I select a par

[2021-09-19 17:54] climbus commented on #397
Great idea :)

[2021-09-19 17:59] climbus opened #399 "Reformat code with black and add check on push"
Can We reformat code with black?

I've checked on my fork and looks that everything is ok. Of course We must have cleat situation with branches and merging.

https://github.com/climbus/rope/actions/runs/1250987372

[2021-09-19 18:53] lieryan opened #400 "Drop Python 2.7 support"
Figure out everything that's necessary to drop Python 2.7 support.

- [x] #454
- [ ] #450
- [ ] Update setup.py
- [ ] Remove outdated test cases
- [ ] Explore if we can use something like https://github.com/mbarkhau/lib3to6, https://github.com/nvbn/py-backwards, or simialr tools so rope codebase can be upgraded to Python 3 while still being able to run in Python 2.
- [ ] Explore non-stdlib parsers

[2021-09-19 19:25] climbus commented on #400
I think Rope can be helpful in migrating to Py3. Before dropping support, it would be good to fix major bugs.

[2021-09-21 15:56] petoknm opened #401 "Support pyproject.toml based configuration"
**Is your feature request related to a problem? Please describe.**
I can't use `pyproject.toml` file to configure rope (`ignored_resources`).

**Describe the solution you'd like**
[code]

[2021-09-21 20:22] lieryan commented on #401
Hi thank you for using rope. rope's configuration file is just a Python script in `.ropeproject/config.py`, this file is normally created when you used rope. So if you have a couple configs that you want to read off an existing pyproject.toml, you can just do that by doing something like this in your `.ropeproject/config.py`:

[code]

If we want to make this an officially supported ways to configu

[2021-09-21 21:09] lieryan commented on #400
If a project is still running on Python 2.7 right now, it's probably safe to say that the project is not being actively developed. I doubt that there are that many people that are interested in doing major refactoring on such old code anyway. PyPI stats for rope shows that Rope 2.7 users hovers around 1-2%. This is in contrast to the global download stats, where 2.7 is quite a bit higher at around

[2021-09-21 21:21] lieryan commented on #400
The benefit of dropping support for running rope on Python 2.x is that rope codebase itself can start using more modern Python idioms and libraries.

Having said that, given what you said in the linked ticket, I don't think we need to be in a hurry to drop 2.7 support any time soon yet as currently the burden of keeping support is not actually that significant.

[2021-09-22 04:31] akbhuker commented on #401
hey, can I have this issue?
I'm quite new to this so I might need some guidance

[2021-09-22 04:44] lieryan commented on #401
Thanks for the interest to look into this issue. You're welcome to take it, @akbhuker. I've assigned the issue to you.

I'd suggest to start looking in the `_init_prefs()` in:

 https://github.com/python-rope/rope/blob/4dba2ffc7eacd80b9bfd57657d811cccda5b443e/rope/base/project.py#L256-L275

Let me know if you need any thing else on the issue.

[2021-09-22 06:11] climbus commented on #400
Exactly that's what i meant :)

[2021-09-22 18:38] lieryan opened #402 "When renaming a variable imported, the `__all__` dictionary should also be updated"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

[code]

2. Describe the refactoring you want to do

Rename `old_name` to `new_name`

3. Expected code after refactoring:

[code]

[code]

4. Describe the error or unexpected result that you are getting

The `__all__` dictionary was left st

[2021-09-26 01:49] lieryan commented on #399
Hi @climbus,

Thanks for bringing this up. I wasn't able to use your branch as-is, so I've re-ran black and made a new commit instead. I have git attribute you as the commit author when making the [commit](https://github.com/python-rope/rope/pull/404/commits/ae87aa32c4e1f7d0b6680ebd977c5579e217361e) to credit you for bringing this topic up and for doing the original blackening. I hope you don't mi

[2021-09-26 01:51] #399 closed

[2021-09-26 03:13] lieryan opened #405 "Setup all-contributors bot"

[2021-09-26 03:15] lieryan commented on #405
@all-contributors please add @lieryan  for maintenance

[2021-09-26 03:24] lieryan commented on #405
@all-contributors please add @lieryan for maintenance

[2021-09-26 03:24] lieryan commented on #405
@all-contributors please add @lieryan for code

[2021-09-26 03:35] lieryan commented on #405
@all-contributors please add @lieryan for maintenance, code

[2021-09-26 03:58] lieryan commented on #405
@all-contributors please add @mcepl  for maintenance, code
@all-contributors please add @aligrudi  for maintenance, code

[2021-09-26 03:58] lieryan commented on #405
@all-contributors please add @mcepl for maintenance, code

[2021-09-26 03:58] lieryan commented on #405
@all-contributors please add @aligrudi for maintenance, code

[2021-09-26 07:53] lieryan commented on #104
This issue is fixed in #398. Thanks @climbus contributing the fix.

[2021-09-26 07:53] #104 closed

[2021-09-26 08:31] lieryan opened #411 "Extracting generator comprehension may produce invalid code"
**Describe the bug**

Extracting generator comprehension may produce invalid code after extraction.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Extract `x for x in y`, without selecting the outer parentheses

3. Expected code after extract variable refactoring:

[code]

or after extract method refactoring:

[code]

4. Instead, we currently produce inv

[2021-09-26 08:42] #315 closed

[2021-09-26 08:44] lieryan commented on #405
Fixed

[2021-09-26 08:44] #405 closed

[2021-09-26 09:08] lieryan opened #412 "Migrate all project and tooling metadata to pyproject.toml"
Look into what project metadata whose support for [pyproject.toml](https://github.com/python-rope/rope/blob/master/pyproject.toml) are mature enough that we can migrate them without serious drawbacks.

- [ ] [setup.py](https://github.com/python-rope/rope/blob/master/setup.py)
- [ ] [pytest.ini](https://github.com/python-rope/rope/blob/master/pytest.ini)
- [ ] tox.ini (not currently in repository,

[2021-09-26 09:42] #12 closed

[2021-09-26 09:50] lieryan commented on #15
Cannot reproduce in rope 0.20, I tried inlining a method imported from a different module and rope doesn't actually re-orders imports. Please add more details and re-open the issue if you think this is incorrect.

[2021-09-26 09:50] #15 closed

[2021-09-26 09:55] lieryan commented on #16
Cannot reproduce in rope 0.20, this seems to have already been fixed. Please add more details and re-open the issue if you believe this is incorrect.

[2021-09-26 09:55] #16 closed

[2021-09-26 10:11] lieryan opened #413 "Migrate setup.py metadata to setup.cfg"

[2021-09-26 10:11] lieryan opened #414 "Migrate pytest.ini to pyproject.toml"

[2021-09-26 10:14] lieryan opened #415 "Expand documentation of Vim support in the Wiki"
Expand documentation of Vim support in the [Wiki](https://github.com/python-rope/rope/wiki/How-to-use-Rope-in-my-IDE-or-Text-editor%3F)

[2021-09-26 10:14] lieryan opened #416 "Expand documentation of Emacs support in the Wiki"

[2021-09-26 10:14] lieryan opened #417 "Expand documentation of LSP support in the Wiki"
Expand documentation of LSP support in the [Wiki](https://github.com/python-rope/rope/wiki/How-to-use-Rope-in-my-IDE-or-Text-editor%3F)

[2021-09-26 11:23] lieryan commented on #109
Closing. Considering the conversation, I think all issues here have already been considered.

[2021-09-26 11:23] #109 closed

[2021-09-26 17:41] lieryan opened #419 "Move refactor function between modules fails when there is a decorator"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

[code]

2. Move refactor `mod1.foo()` to `mod2`

3. Expected code after refactoring:

[code]

[code]

4. Describe the error or unexpected result that you are getting

[code]

**Editor information (please complete the following information)

[2021-09-27 01:39] lieryan commented on #303
@mlao-pdx Thank you for reporting this bug, this will be fixed in 0.21

cc: @all-contributors

[2021-09-27 01:47] lieryan commented on #405
hi test @lieryan for bug
cc: @all-contributors

[2021-09-27 01:50] lieryan commented on #405
@all-contributors please add @lieryan  for bug

[2021-09-27 02:15] #303 closed

[2021-09-27 20:51] mlao-pdx commented on #303
Awesome, thanks @lieryan.

[2021-09-29 02:43] #371 closed

[2021-09-29 05:45] lieryan commented on #122
This seems to have already been supported by the [IntroduceParameter refactoring](https://github.com/python-rope/rope/blob/master/rope/refactor/introduce_parameter.py).

It is currently undocumented and I don't think currently there are any editor integration currently that implements them though.

[2021-10-03 03:46] lieryan commented on #413
Currently, setuptools does not support putting most project metadata in `pyproject.toml`. It still only supports reading metadata from `setup.cfg`. So this is not possible right now.

Changing the scope of this ticket to move metadata into `setup.cfg` instead.

[2021-10-04 08:41] lieryan commented on #413
It seem like [`build`](https://pypa-build.readthedocs.io/en/latest/index.html) might allow us to do away with setuptools/setup.py entirely, so doing a full pyproject.toml might actually be possible here.

[2021-10-04 15:26] lieryan opened #428 "Incorrect inline refactoring with dict/tuple expansion"
**Describe the bug**

Incorrect inline refactoring with dictionary expansion.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Inline "foobar"

3. Expected code after refactoring:

[code]

4. Describe the error or unexpected result that you are getting

[code]

which is invalid since `document_uri` and `range` is not a valid name inside `main`.

**Editor i

[2021-10-07 12:39] lieryan opened #431 "Inlining string constant into f-string should be smarter"
**Describe the bug**

Inlining expression containing string constant into f-string should take into consideration the surrounding f-string's quote.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Inline "msg"

3. Expected code after refactoring, should be either:

[code]

or maybe even special case the situation where

[code]

4. Describe the error or une

[2021-10-08 18:06] #311 closed

[2021-10-11 08:06] bbcVld opened #435 "Bug with f-string + brackets + quotes"
**Describe the bug**
If code has a special string (see code below) the rope falls with error.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Describe the refactoring you want to do
I'm trying to Restructure code.

3. Expected code after refactoring:
--
4. Describe the error or unexpected result that you are getting

[code]

**Editor information (please c

[2021-10-18 09:36] lieryan opened #437 "Implement type inference for list/set/dict/set/generator comprehension"
**Describe the bug**

Currently, type inference are kinda dodgy when analyzing code containing comprehensions.

**To Reproduce**

Steps to reproduce the behavior:

1. Code to reproduce:

[code]

2. `x_var.get_object().get_type()` returns `<rope.base.builtins.List at 0x7fa67bed99a0>`, while this is a Set comprehension, so `x_var` should be typed as a Set.

**Editor information (please complete the

[2021-10-19 10:21] climbus opened #439 "Moving class doesn't move class decorator."
Moving class doesn't move class decorator.

Steps to reproduce the behavior:
1. Code before refactoring:

mod1.py
[code]

2. Move AClass to mod2.py

3. Expected code after refactoring:
mod1.py
[code]
mod2.py
[code]

4. Describe the error or unexpected result that you are getting
mod1.py
[code]
mod2.py
[code]

**Editor information (please complete the following information):**
 - Project Python ver

[2021-10-31 13:09] #270 closed

[2021-11-03 04:10] lieryan opened #440 "Inline refactoring fails when the inlined method has type hints"
**Describe the bug**

Inlining a method whose signature contains type hints fails with an exception.

Removing the type hints, the inlining works just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Describe the refactoring you want to do: Inline `foo`

3. Expected code after refactoring:

[code]

4. Describe the error or unexpected result that you

[2021-11-10 15:38] RaiKoHoff opened #441 "pip install rope from archive (v.0.21.0) in isolated Python venv"
Using Python (v3.9.7) in a virtual environment (venv) in isolated (no web connection) mode:
installing rope v.0.21.1 from archive failed:
(installed "setuptools" version is v.58.5.3, "pip" version is v.21.3.1)

[code]

While installing previous archive package "rope-0.20.1.tar.gz" in the same VENV works like a charm:

[code]

What am I missing ?

[2021-11-10 21:00] elfring opened #442 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-11 10:25] #441 closed

[2021-11-11 10:26] lieryan commented on #441
Hi @RaiKoHoff, thanks for bringing up this issue.

It seems like the cause of this is because 0.21.0 starts using `pyproject.toml`, currently we don't use `pyproject.toml` to specify build/install environment, only to store `black` configuration, but `pip` seems to modify its installation behavior when this file exists in a way that breaks `--no-index` installs.

The reason why `pip` is trying to

[2021-11-11 10:37] lieryan commented on #442
Hi @elfring, thanks for your interest in rope project.

Personally, I don't find the difference between regular and augmented assignment to improve readability or maintainability significantly enough for me to spend the time and effort to go through the codebase looking to make these changes myself. However, if you create a pull request with these changes, I would be welcome to merge them.

You ma

[2021-11-11 10:37] #442 closed

[2021-11-11 11:12] elfring commented on #442
* :thought_balloon: Can you follow [the rationale of the Python enhancement proposal 203](https://www.python.org/dev/peps/pep-0203/#rationale "Proposal for augmented assignments") (from 2000-07-13)?
* How much can this library support the described software refactoring? :thinking:

[2021-11-11 11:21] RaiKoHoff commented on #441
Hi @lieryan,
now, with the provided rope v0.21.1 wheel, my packager fetches the wheel (automatically) instead of the archive (.tar.gz), which then has no problems anymore to get it pip installed in isolation mode.
So I didn't need to try the alternatives.

Thank you very much for the fast response and solution.

[2021-11-28 11:22] lieryan opened #451 "Python 3.10 syntax: Structural pattern matching"
Add support for new syntax in Python 3.10 "Structural pattern matching" (`match` statement).

[2021-11-28 18:48] lieryan commented on #400
copying [jwodder from Stackoverflow](https://stackoverflow.com/a/42792413/309412):

[2021-11-28 18:49] lieryan opened #454 "Pin package in PyPI to block Python 2.7 users from upgrading to Rope version that's unsupported on it"
Tasks:

- [x] Make rope==1.x release as Python 3-only
- [x] Make separate 0.x branch as a branch with last support for Python 2
- [x] Update documentation to point Python 2 users to the 0.x branch

References:

According to [jwodder from Stackoverflow](https://stackoverflow.com/a/42792413/309412):

[2021-11-29 17:00] #134 closed

[2021-12-11 09:19] #451 closed

[2022-03-15 21:41] dryobates opened #459 "Unable do extract method with try and subscriptable"
**Describe the bug**
Error while extracting method that contains augmented assignment to subscriptable (dict, list etc.) inside try..except.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Describe the refactoring you want to do

Extracting method.

3. Expected code after refactoring:

[code]

4. Describe the error or unexpected result that you are gettin

[2022-03-16 08:32] #459 closed

[2022-03-23 03:37] lieryan opened #461 "Extracting method with similar statements fails when it contains list comprehension"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Describe the refactoring you want to do: Select the "print(1)" line, and then trigger "Extract method including similar statements"

3. Expected code after refactoring:

[code]

4. Describe the error or unexpected result that you are ge

[2022-03-29 09:48] MichaelSchneeberger opened #462 "Rename a python class name with a script"
**Describe the bug**
Renaming a python class with `rope.refactor.rename` does not update the import statement in other files of the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

Given the following the project structure
[code]

`city.py`
[code]

`citycapitol.py`
[code]

2. Describe the refactoring you want to do

[code]

3. Expected code after refactoring

[2022-04-01 17:05] milanglacier commented on #461
cofirmed here, python 3.9 with rope 0.23 has the same issue

[2022-04-29 16:53] bageljrkhanofemus commented on #194
In the sqllite implementation under #469 there is an option to pass a list of ignored names. I used this in https://github.com/python-lsp/python-lsp-server/pull/199 to ignore names already defined in the file.

[2022-05-10 04:27] bageljrkhanofemus commented on #401
I will write a PR to fix this issue.
I've been working on a [library](https://github.com/bageljrkhanofemus/pytoolconfig) for this kind of problem.
The tool (rope) would define the configuration options in a pydantic model, and pytoolconfig will fill in the values from the appropriate file.
Additionally, it will detect the minimum python version, making it much easier for ast to target projects sup

[2022-05-11 07:03] Thibi2000 commented on #401
Not entirely related but is there any future plan to use setup.cfg files?

A flow could be for rope to read the setup.cfg file and generate a .ropeproject/config.py file based on the settings defined in setup.cfg? this way only parsing the setup.cfg file has to be added, or would this be a bad idea?

[2022-05-11 21:24] bageljrkhanofemus commented on #401
pyproject.toml is a standard. I *can* add setup.cfg support (especially if using the library I'm working on), but I don't know if its a good idea.

[2022-05-16 07:10] #440 closed

[2022-05-16 07:16] #461 closed

[2022-05-16 07:17] #419 closed

[2022-05-16 07:17] #439 closed

[2022-05-27 03:54] jgarte opened #478 "Test failure AutoImportTest.test_search_submodule: AssertionError: ('from build import env', 'env') not found in []"
Hi, does anyone know why this test might be failing?

[code]

[2022-05-27 04:55] lieryan commented on #478
Hi @jgarte, how did you install rope?

If you want to run rope's unittests, make sure you install the additional dev dependencies (i.e. `pip installl rope[dev]` or equivalent). This will install additional development dependencies that necessary when running tests, in particular `build` and `pytest-timeout`.

See `setup.py` (or in the future, `pyproject.toml`) for the full, most up to date list of

[2022-05-27 05:02] lieryan commented on #478
Having said that, we might want to actually rewrite this test to not depend on `build`. This particular test do need to run against sine third party libraries though, as it's testing autoimport of third party library and `build` just happens to be conveniently installed in the test system.

Maybe we can isolate this by rewriting the test to try to import something from `pytest` instead or to insta

[2022-05-28 11:39] bageljrkhanofemus commented on #243
I'll fix this after #473, you can assign it to me. I'll use a global configuration file.

[2022-05-28 15:04] lieryan commented on #243
Hi @bageljrkhanofemus, thanks for looking into this. You're welcome to take this issue, I've assigned this ticket to you.

[2022-05-29 03:34] bageljrkhanofemus commented on #478
It requires a submodule to be there - ie the package must have more than one file. build is problematic because
1. The user may not have it installed
2. It only has two files
3. Sometimes, pip/setuptools will create a build directory in sys.path and autoimport won't find build. That is a separate (but very rare) bug.

Pytest has a different issues:

1. The only public module is __main__ which does

[2022-06-02 07:15] bageljrkhanofemus commented on #237
I've messed around with removing the patchedast. It provides two things:
1. Sorted children, which afaik isn't directly used
2. Region of code.

Since rope reads everything into a single line, using the standard ast would break region based functionality. Regardless, I am working on a solution using standard ast.  If we can use parso, we'll get error recovery and port some of my autoimport code fr

[2022-06-05 16:15] bageljrkhanofemus opened #483 "Better Tooling"
Could we use and configure the following tools in rope?
1. tox - testing across python versions. Would need to test from 3.6/7 to 3.10/3.11
2. isort - sorting the imports. Would need to configure to use the black profile. Would need to reformat almost all the files
3. pre-commit - use black and isort before commits to prevent us from having to make additional blacken commits.

[2022-06-05 16:22] bageljrkhanofemus opened #484 "Pathlib"
Use pathlib internally in Rope's resource, file and folder classes. This will allow more compatibility with other projects and increase speed. Resource should also implement os.PathLike.
Steps to implement:
1. #473 add a pathlib property to resources
2. Make internal functions depend on pathlib versions

[2022-06-17 12:24] lieryan commented on #483
+1 on all these tools.

If there's a mass reformatting, they should be their own separate commit and PR.

[2022-06-17 12:49] #401 closed

[2022-06-18 00:00] bageljrkhanofemus commented on #413
This issue can be closed #473

[2022-06-18 00:02] bageljrkhanofemus opened #491 "Read the docs"
It'd be nice if rope hosted its documentation on RTD.
Remaining steps:
- [ ] Change Sphinx theme to RTD theme
- [ ] Host on RTD
- [ ] Test documentation works
- [ ] Move docs from wiki to RTD
- [ ] Link docs from readme and metadata

[2022-06-18 12:22] lieryan commented on #413
Thanks @bageljrkhanofemus. We're now already building using `build` for some time. With the pyproject.toml migration, this is no longer necessary.

[2022-06-18 12:22] #413 closed

[2022-06-18 12:28] lieryan commented on #491
I set up hosting rope in RTD when merging the pytoolconfig last week: https://rope.readthedocs.io/en/latest/

We just need to point to it from README in GitHub.

[2022-06-20 12:29] lieryan opened #493 "Issues with Configuruation documentation"
The [Options section of the Configuration documentation](https://rope.readthedocs.io/en/latest/configuration.html#options):

- [ ] requires lots of horizontal scrolling, making it hard to read.
- [ ] Also the RTD template seems to convert some of the quotes in the `default` column to smart-quotes

[2022-06-20 12:32] lieryan commented on #493
Hi @bageljrkhanofemus, do you know if this something that can be fixed in pytoolconfig or does it need to be fixed in rope?

[2022-07-11 01:04] hosiet opened #495 "Failed test_get_package_tuple_compiled: AttributeError: module 'zlib' has no attribute '__file__'"
**Describe the bug**
When building `rope` package, test `test_get_package_tuple_compiled` fails on my system due to unrelated error (assertion on `zlib` module).

**To Reproduce**

After cloning the GitHub project, execute the following commands in the source dir:

[code]

The following error will occur:
[code]

I am not sure why the test assumes that `zlib.__file__` should exist:

[code]

**Edito

[2022-07-14 06:27] lieryan opened #496 "Rename fails with missing KeyError: MatMul in patchedast"
Ticket originally reported by @eivindjahren in ropevim (https://github.com/python-rope/ropevim/issues/91).

running `RopeRenameCurrentModule` on ubuntu 22.04, neovim 0.7.2, python 3.10, rope 1.2.0,  results in the following error:

[code]

[2022-07-16 11:45] eivindjahren commented on #495
The fixtures seems to only be used with the following test:

https://github.com/python-rope/rope/blob/9ecc3ec3a918bdddfe0957de1e954181388def7d/ropetest/contrib/autoimport/utilstest.py#L59-L63

The intention of the test seems to check that the autoimporter can get the info of a package with `source.STANDARD` and `PackageType.COMPILED`, hence the use of zlib. However, on my system, `zlib` is actuall

[2022-07-18 06:29] #496 closed

[2022-07-20 11:18] eivindjahren opened #499 "patched_ast will set region[0] to None when unmatched parenthesis inside string"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Code before refactoring:

[code]

2. Rename class A to B

3. Expected code after refactoring:

[code]

4. Describe the error or unexpected result that you are getting

[code]

**Additional context**
The problem seems to be that under certain conditions, a region tuple gets

[2022-07-21 09:01] #495 closed

[2022-08-25 05:15] bageljrkhanofemus opened #504 "Autoimport docstring support"
Add docstrings to search results. This would be per-name, which causes the following issues:
1. Parsing for both import and ast needs docstring support - import should be trivial and even if ast doesn't work it'll be an improvement.
2. All the databases need a new schema with descriptions
3. The result tuple needs to be updated, which would break things that depend on tuple expansion.

The benefit

[2022-09-18 21:53] Rowlando13 commented on #491
Looks like I may have caught the repo in a documentation transition, so I will put this issue here. If you want, then I can move it.
There is a broken link in the docs. The library.rst gets a 404. ![image](https://user-images.githubusercontent.com/67291205/190929441-d21c6134-4273-4328-8836-f19969a3384a.png)

[2022-09-18 21:58] Rowlando13 commented on #483
So I just did this for a project that I work on. Super big quality of life improvement. You should just be able to copy a lot of our settings. We use black, isort, and precommit. Also, I have a lot of it explained on our contributor page. [project](https://github.com/NREL/mappymatch) [contributing docs](https://mappymatch.readthedocs.io/en/latest/general/contributing.html#tools-in-our-toolbelt)

[2022-09-27 20:40] lieryan commented on #454
This was already done

[2022-09-27 20:40] #454 closed

[2022-10-03 03:31] #367 closed